<!-- Form -->
<form action="/admin/profile/change_password" method="POST" class="p-5 mx-4 needs-validation profile_form" novalidate>
    <div class="form-group row mb-4">
      <!-- Present password -->
      <label for="present_password" class="col-md-3 col-form-label">Present password</label>
      <div class="col-md-7 input-group pl-4">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mdi mdi-key-variant"></i></span>
        </div>
        <%# when not submit %>
        <% if (typeof errors === 'undefined' && typeof validInput === 'undefined') { %>
        <input type="password" id="present_password" name="present_password" class="form-control" placeholder="Enter your present password" required>
        <% } %>
        <%# has error %>
          <% if (typeof errors !== 'undefined' && errors) { %>
            <% errors.forEach( (error) =>  { %> 
              <% if (error.param === 'present_password') { %> 
            <input type="password" id="present_password" name="present_password" 
            class="is-invalid form-control" value="<%= error.value %>"
            required>
            <div class="invalid-feedback">
              <p><%= error.msg %> </p>
            </div>
              <% } %>
            <% }) %>
          <% } %>

          <%# has validInput %>
          <% if (typeof validInput !== 'undefined' && validInput.present_password) { %>
            <input type="password" id="present_password" name="present_password" 
            class="form-control is-valid" value="<%= validInput.present_password %>"
              required>
          <% } %>
      </div>
    </div>
  
    <div class="form-group row mb-4">
      <!-- New Password -->
      <label for="new_password" class="col-md-3 col-form-label">New password</label>
      <div class="col-md-7 input-group pl-4">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mdi mdi-key-plus"></i></span>
        </div>
        <%# when not submit %>
      <% if (typeof errors === 'undefined' && typeof validInput === 'undefined') { %>
      <input type="password" id="new_password" name="new_password" class="form-control" placeholder="Enter your new password" required>
      <% } %>

      <%# has error %>
      <% if (typeof errors !== 'undefined' && errors) { %>
            <% errors.forEach( (error) =>  { %> 
                <% if(error.param === 'new_password') { %> 
            <input type="password" id="new_password" name="new_password" 
            class="is-invalid form-control" value="<%= error.value %>"
            required>
            <div class="invalid-feedback">
                  <p><%= error.msg %> </p>
            </div>
                <% } %> 
            <% }) %>
          <% } %>

          <%# has validInput %>
          <% if (typeof validInput !== 'undefined' && validInput.new_password) { %>
            <input type="password" id="new_password" name="new_password" 
            class="form-control is-valid" value="<%= validInput.new_password %>"
              required>
          <% } %>
      </div>
    </div>
  
    <div class="form-group row mb-4">
      <!-- Confirm password -->
      <label for="confirm_password" class="col-md-3 col-form-label">Confirm password</label>
      <div class="col-md-7 input-group pl-4">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="mdi mdi-key-plus"></i></span>
        </div>
        <%# when not submit %>
      <% if (typeof errors === 'undefined' && typeof validInput === 'undefined') { %>
        <input class="form-control" id="confirm_password" name="confirm_password" type="password" placeholder="Confirm your new password here" required>
      <% } %>
        
      <%# has error %>
        <% if (typeof errors !== 'undefined' && errors) { %>
          <% errors.forEach( (error) =>  { %> 
          <% if(error.param === 'confirm_password') { %>
        <input type="password" id="confirm_password" name="confirm_password" 
        class="is-invalid form-control" value="<%= error.value %>"
        required>
        <div class="invalid-feedback">
          <p><%= error.msg %> </p>
        </div>
          <% } %> 
          <% }) %> 
        <% } %>

        <%# has validInput %>
        <% if (typeof validInput !== 'undefined' && validInput.confirm_password) { %>
          <input type="password" id="confirm_password" name="confirm_password" 
          class="form-control is-valid" value="<%= validInput.confirm_password %>"
            required>
        <% } %>
      </div>
    </div>
  
    <div class="form-group row mt-4 ">
      <div class="col-md-7"></div>
      <div class="col-md-3">
        <button class="btn btn-primary w-100">
          <i class="far fa-save mr-2"></i>Save changes
        </button>
      </div>
    </div>
  </form>