<% if(messages.success) { %>
    <div class="alert alert-success" role="alert">
        <%= messages.success %> 
    </div>
<% } else if (messages.fail) { %>
    <div class="alert alert-danger" role="alert">
        <%= messages.fail %> 
    </div>
<% } %> 
<% if(messages.deleteSuccess) { %>
    <div class="alert alert-success" role="alert">
        <%= messages.deleteSuccess %> 
    </div>
<% } else if (messages.deleteFail) { %>
    <div class="alert alert-danger" role="alert">
        <%= messages.deleteFail %> 
    </div>
<% } %> 
<% if(messages.resetSuccess) { %>
    <div class="alert alert-success" role="alert">
        <%= messages.resetSuccess %> 
    </div>
<% } else if (messages.resetFail) { %>
    <div class="alert alert-danger" role="alert">
        <%= messages.resetFail %> 
    </div>
<% } %> 
<% if(messages.statusSuccess) { %>
    <div class="alert alert-success" role="alert">
        <%= messages.statusSuccess %> 
    </div>
<% } else if (messages.statusFail) { %>
    <div class="alert alert-danger" role="alert">
        <%= messages.statusFail %> 
    </div>
<% } %> 
