<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Wlog - Blog and Magazine HTML template </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Blog">
    <meta name="keywords" content="">
    <meta name="author" content="kamleshyadav">
    <meta name="MobileOptimized" content="320">
    
    <%- include('./base/css') %> 
</head>

<body class="homepage2">

<div id="blog_preloader_wrapper">
     <div id="blog_preloader_box">
          <div class="blog_loader">
              <div></div>
              <div></div>
          </div>
     </div>
</div>

<div class="blog_main_wrapper">
    
    <!-- top header -->
    <%- include('./base/top_header') %>
    <!-- end top header -->

    <!-- main_menu -->
    <%- include('./base/main_menu') %>
    <!-- end main_menu -->

    <%# content %> 
	<div class="blog_main_wrapper blog_toppadder60 blog_bottompadder60">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="blog_post_style2 blog_single_div">
						<div class="blog_post_style2_img wow fadeInUp">
							<img src="/thumbnail/<%= article.thumbnail_img.filename %>" class="img-fluid" alt="" style="width: 100%; ">
						</div>
						<div class="blog_post_style2_content wow fadeInUp">
							<h3><%- article.title %></h3>
							<div class="blog_author_data">
                                <a href="#"><img src="/avatar/<%= article.authorId.profile.avatar_img.filename %>" 
                                    class="img-fluid" alt="" width="34" height="34"> <%= article.authorId.profile.fullname %>
                                </a>
                            </div> 
							<ul class="blog_meta_tags">
								<li><span class="blog_bg_blue">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12px" height="7px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M11.829,3.074 C11.732,2.948 9.422,-0.000 6.468,-0.000 C3.514,-0.000 1.203,2.948 1.106,3.074 C0.916,3.320 0.916,3.678 1.106,3.925 C1.203,4.050 3.514,6.999 6.468,6.999 C9.422,6.999 11.732,4.050 11.829,3.925 C12.020,3.678 12.020,3.320 11.829,3.074 ZM7.370,1.771 C7.569,1.651 7.846,1.788 7.989,2.077 C8.132,2.366 8.087,2.696 7.888,2.816 C7.689,2.936 7.412,2.799 7.269,2.510 C7.126,2.221 7.171,1.890 7.370,1.771 ZM6.468,5.930 C4.404,5.930 2.668,4.183 2.067,3.499 C2.473,3.037 3.397,2.091 4.589,1.525 C4.357,1.915 4.220,2.381 4.220,2.883 C4.220,4.251 5.227,5.360 6.468,5.360 C7.709,5.360 8.715,4.251 8.715,2.883 C8.715,2.381 8.579,1.915 8.346,1.525 C9.539,2.091 10.463,3.037 10.869,3.499 C10.268,4.184 8.531,5.930 6.468,5.930 Z"/>
                                    </svg> <%= article.interaction.views %></span></li> 
								<li><span class="blog_bg_pink">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13px" height="10px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M12.485,7.049 C12.142,7.544 11.670,7.962 11.070,8.303 C11.119,8.417 11.168,8.520 11.219,8.615 C11.270,8.710 11.330,8.801 11.401,8.889 C11.471,8.977 11.525,9.045 11.564,9.095 C11.603,9.145 11.665,9.214 11.752,9.305 C11.840,9.394 11.895,9.453 11.919,9.482 C11.924,9.487 11.934,9.497 11.948,9.514 C11.963,9.530 11.974,9.542 11.981,9.549 C11.988,9.556 11.998,9.568 12.010,9.585 C12.022,9.602 12.030,9.614 12.035,9.624 L12.053,9.659 C12.053,9.659 12.058,9.673 12.068,9.702 C12.077,9.730 12.078,9.745 12.071,9.748 C12.064,9.750 12.062,9.766 12.064,9.794 C12.050,9.860 12.018,9.912 11.970,9.950 C11.921,9.988 11.868,10.005 11.810,10.000 C11.568,9.967 11.360,9.929 11.186,9.887 C10.441,9.697 9.769,9.394 9.169,8.977 C8.734,9.053 8.309,9.091 7.893,9.091 C6.582,9.091 5.441,8.778 4.469,8.153 C4.749,8.172 4.962,8.182 5.107,8.182 C5.886,8.182 6.633,8.075 7.349,7.862 C8.064,7.649 8.703,7.343 9.264,6.946 C9.868,6.510 10.333,6.008 10.657,5.440 C10.981,4.872 11.143,4.271 11.143,3.637 C11.143,3.272 11.087,2.912 10.976,2.557 C11.600,2.893 12.093,3.315 12.456,3.821 C12.818,4.328 13.000,4.872 13.000,5.455 C13.000,6.023 12.828,6.554 12.485,7.049 ZM7.672,6.787 C6.886,7.111 6.031,7.273 5.107,7.272 C4.691,7.272 4.266,7.235 3.830,7.159 C3.231,7.575 2.558,7.879 1.814,8.068 C1.640,8.111 1.432,8.148 1.190,8.182 L1.168,8.182 C1.115,8.182 1.065,8.163 1.019,8.125 C0.973,8.087 0.946,8.037 0.936,7.976 C0.931,7.962 0.929,7.946 0.929,7.930 C0.929,7.914 0.930,7.898 0.932,7.884 C0.935,7.869 0.939,7.855 0.947,7.841 L0.965,7.805 C0.965,7.805 0.973,7.792 0.990,7.767 C1.007,7.740 1.017,7.729 1.019,7.731 C1.022,7.734 1.033,7.722 1.052,7.696 C1.071,7.670 1.081,7.659 1.081,7.664 C1.105,7.636 1.161,7.577 1.248,7.486 C1.335,7.396 1.398,7.326 1.436,7.277 C1.475,7.227 1.530,7.158 1.600,7.071 C1.670,6.983 1.730,6.892 1.781,6.797 C1.832,6.703 1.881,6.598 1.930,6.485 C1.330,6.144 0.859,5.725 0.515,5.228 C0.172,4.731 0.000,4.200 0.000,3.637 C0.000,2.978 0.227,2.370 0.682,1.812 C1.137,1.253 1.757,0.812 2.543,0.487 C3.329,0.163 4.183,0.000 5.107,0.000 C6.031,0.000 6.886,0.162 7.672,0.487 C8.458,0.812 9.078,1.253 9.532,1.812 C9.987,2.370 10.214,2.978 10.214,3.637 C10.214,4.295 9.987,4.903 9.532,5.462 C9.078,6.020 8.458,6.462 7.672,6.787 ZM8.716,2.280 C8.337,1.859 7.825,1.525 7.182,1.279 C6.539,1.033 5.847,0.910 5.107,0.910 C4.367,0.910 3.676,1.033 3.032,1.279 C2.389,1.525 1.878,1.859 1.498,2.280 C1.119,2.702 0.929,3.154 0.929,3.637 C0.929,4.025 1.057,4.399 1.313,4.759 C1.569,5.119 1.930,5.431 2.394,5.697 L3.098,6.094 L2.844,6.691 C3.008,6.596 3.158,6.503 3.294,6.414 L3.613,6.194 L3.997,6.264 C4.375,6.331 4.745,6.364 5.107,6.364 C5.847,6.364 6.539,6.240 7.182,5.994 C7.825,5.748 8.337,5.415 8.716,4.993 C9.096,4.572 9.286,4.120 9.286,3.637 C9.286,3.154 9.096,2.702 8.716,2.280 Z"/>
                                    </svg> <%= article.interaction.likes %></span></li> 
                            </ul>
                            <p>
                                <%- article.summary %> 
                            </p>
                            <%- article.body %> 
						</div>
                    </div>
                    
                    <%# comment %> 
					<div class="blog_comment_div">
						<h3 class="wow fadeInUp">Comments <span>(4)</span></h3>
						<ol class="comment-list">
							<li class="wow fadeInUp">
								<div class="blog_comment">
									<div class="blog_comment_img">
										<img src="https://via.placeholder.com/70x70" class="img-fluid" alt="">
									</div>
									<div class="blog_comment_data">
										<h3>John Doe <span>- 29 july 2018</span></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusd tempor incidiunt utorekse eet dolore magna aliqua. Ut enim ad minim veniam,</p>
									</div>
								</div>
								<div class="blog_comment_meta">
									<ul>
										<li class="blog_toggleonclick">
											<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="18px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M15.491,10.060 C15.831,9.526 16.001,8.938 16.001,8.297 C16.001,7.554 15.737,6.908 15.210,6.360 C14.682,5.812 14.056,5.538 13.334,5.538 L11.501,5.538 C11.834,4.824 12.001,4.131 12.001,3.461 C12.001,2.617 11.879,1.946 11.636,1.448 C11.393,0.951 11.039,0.585 10.573,0.350 C10.108,0.116 9.583,-0.001 9.000,-0.001 C8.646,-0.001 8.333,0.132 8.062,0.399 C7.764,0.702 7.548,1.092 7.417,1.568 C7.285,2.044 7.179,2.500 7.099,2.936 C7.019,3.372 6.896,3.681 6.729,3.861 C6.389,4.243 6.017,4.705 5.614,5.246 C4.913,6.190 4.437,6.750 4.187,6.923 L1.332,6.923 C0.964,6.923 0.650,7.058 0.389,7.328 C0.129,7.599 -0.001,7.925 -0.001,8.307 L-0.001,15.231 C-0.001,15.613 0.129,15.939 0.389,16.210 C0.650,16.481 0.964,16.616 1.332,16.616 L4.333,16.616 C4.485,16.616 4.965,16.760 5.770,17.049 C6.625,17.359 7.377,17.595 8.026,17.757 C8.675,17.919 9.333,18.001 10.000,18.001 L10.969,18.001 L11.344,18.001 C12.323,18.001 13.112,17.710 13.709,17.130 C14.306,16.549 14.601,15.757 14.595,14.755 C15.011,14.200 15.220,13.558 15.220,12.829 C15.220,12.671 15.209,12.516 15.189,12.364 C15.452,11.881 15.584,11.362 15.584,10.806 C15.584,10.547 15.553,10.298 15.491,10.060 ZM2.468,15.026 C2.336,15.162 2.180,15.231 1.999,15.231 C1.819,15.231 1.662,15.162 1.530,15.026 C1.398,14.889 1.332,14.726 1.332,14.538 C1.332,14.351 1.398,14.189 1.530,14.052 C1.662,13.915 1.819,13.846 1.999,13.846 C2.180,13.846 2.336,13.915 2.468,14.052 C2.600,14.189 2.666,14.351 2.666,14.538 C2.666,14.726 2.600,14.889 2.468,15.026 ZM14.444,9.184 C14.295,9.516 14.109,9.686 13.887,9.693 C13.991,9.815 14.077,9.987 14.147,10.206 C14.216,10.426 14.251,10.627 14.251,10.807 C14.251,11.304 14.067,11.733 13.699,12.094 C13.824,12.325 13.887,12.574 13.887,12.840 C13.887,13.107 13.826,13.372 13.704,13.635 C13.583,13.898 13.418,14.088 13.209,14.203 C13.244,14.419 13.261,14.622 13.261,14.809 C13.261,16.013 12.594,16.615 11.261,16.615 L10.001,16.615 C9.090,16.615 7.903,16.352 6.437,15.826 C6.403,15.811 6.302,15.774 6.135,15.712 C5.968,15.651 5.845,15.606 5.765,15.577 C5.685,15.548 5.564,15.507 5.401,15.453 C5.237,15.399 5.106,15.359 5.005,15.334 C4.904,15.308 4.789,15.285 4.661,15.263 C4.533,15.242 4.423,15.231 4.333,15.231 L4.000,15.231 L4.000,8.308 L4.333,8.308 C4.444,8.308 4.567,8.275 4.703,8.210 C4.838,8.145 4.977,8.048 5.119,7.918 C5.262,7.788 5.395,7.660 5.521,7.534 C5.646,7.408 5.784,7.249 5.937,7.058 C6.090,6.867 6.210,6.714 6.297,6.598 C6.384,6.483 6.493,6.335 6.625,6.155 C6.757,5.975 6.837,5.866 6.865,5.830 C7.246,5.340 7.514,5.012 7.667,4.846 C7.952,4.536 8.158,4.141 8.286,3.661 C8.415,3.182 8.521,2.729 8.604,2.304 C8.687,1.878 8.820,1.572 9.000,1.384 C9.667,1.384 10.112,1.553 10.334,1.892 C10.556,2.232 10.667,2.754 10.667,3.461 C10.667,3.887 10.500,4.465 10.167,5.197 C9.834,5.929 9.667,6.505 9.667,6.923 L13.334,6.923 C13.682,6.923 13.991,7.062 14.261,7.339 C14.532,7.617 14.668,7.940 14.668,8.307 C14.668,8.560 14.593,8.852 14.444,9.184 Z"/></svg> 26</a>
											<div class="blog_onhover_social_icon">
												<ul>
													<li><a href="javascript:;"><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""> <img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""> <span>You,John</span> and 24 more like this</a></li>
												</ul>
											</div>
										</li>
										<li>
											<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="16px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M19.207,11.280 C18.679,12.072 17.954,12.740 17.032,13.286 C17.106,13.468 17.182,13.634 17.260,13.786 C17.338,13.937 17.432,14.083 17.539,14.223 C17.647,14.363 17.731,14.473 17.790,14.553 C17.850,14.632 17.947,14.744 18.081,14.888 C18.215,15.032 18.300,15.127 18.337,15.172 C18.345,15.180 18.360,15.197 18.382,15.223 C18.404,15.249 18.421,15.269 18.432,15.280 C18.443,15.291 18.458,15.310 18.477,15.337 C18.495,15.363 18.508,15.384 18.516,15.399 L18.544,15.456 C18.544,15.456 18.551,15.478 18.566,15.524 C18.580,15.569 18.582,15.594 18.571,15.598 C18.560,15.601 18.557,15.626 18.560,15.672 C18.538,15.777 18.490,15.861 18.415,15.921 C18.341,15.982 18.259,16.009 18.170,16.001 C17.797,15.948 17.478,15.887 17.210,15.819 C16.064,15.516 15.029,15.032 14.107,14.364 C13.437,14.486 12.783,14.546 12.143,14.546 C10.126,14.546 8.370,14.046 6.875,13.046 C7.306,13.077 7.634,13.092 7.857,13.092 C9.055,13.092 10.204,12.921 11.305,12.580 C12.407,12.239 13.389,11.751 14.252,11.115 C15.182,10.418 15.896,9.615 16.395,8.705 C16.894,7.797 17.143,6.835 17.143,5.819 C17.143,5.236 17.057,4.660 16.886,4.092 C17.846,4.630 18.605,5.304 19.163,6.115 C19.721,6.925 20.000,7.797 20.000,8.728 C20.000,9.637 19.736,10.488 19.207,11.280 ZM11.803,10.859 C10.594,11.378 9.278,11.638 7.857,11.637 C7.217,11.637 6.563,11.577 5.893,11.455 C4.970,12.122 3.936,12.607 2.790,12.910 C2.522,12.978 2.202,13.039 1.830,13.092 L1.797,13.092 C1.715,13.092 1.639,13.061 1.568,13.001 C1.498,12.940 1.455,12.861 1.440,12.762 C1.432,12.740 1.429,12.715 1.429,12.689 C1.429,12.662 1.430,12.637 1.434,12.615 C1.438,12.592 1.445,12.569 1.456,12.547 L1.484,12.490 C1.484,12.490 1.498,12.469 1.524,12.427 C1.549,12.386 1.564,12.367 1.568,12.371 C1.572,12.375 1.589,12.356 1.618,12.314 C1.648,12.272 1.663,12.255 1.663,12.263 C1.700,12.217 1.786,12.123 1.920,11.979 C2.054,11.835 2.151,11.723 2.210,11.644 C2.270,11.564 2.353,11.454 2.461,11.314 C2.569,11.174 2.662,11.028 2.740,10.877 C2.818,10.725 2.895,10.559 2.969,10.377 C2.046,9.831 1.321,9.161 0.793,8.365 C0.264,7.570 0.000,6.721 0.000,5.820 C0.000,4.767 0.350,3.793 1.049,2.900 C1.749,2.006 2.703,1.299 3.912,0.780 C5.121,0.262 6.436,0.002 7.857,0.002 C9.278,0.002 10.594,0.261 11.803,0.780 C13.012,1.299 13.966,2.006 14.665,2.899 C15.364,3.793 15.714,4.767 15.714,5.820 C15.714,6.873 15.364,7.846 14.665,8.740 C13.966,9.634 13.012,10.340 11.803,10.859 ZM13.410,3.649 C12.826,2.975 12.039,2.441 11.049,2.047 C10.060,1.653 8.996,1.456 7.857,1.456 C6.719,1.456 5.655,1.653 4.665,2.047 C3.676,2.441 2.889,2.975 2.305,3.649 C1.721,4.324 1.429,5.047 1.429,5.820 C1.429,6.441 1.626,7.039 2.020,7.615 C2.415,8.191 2.969,8.691 3.683,9.115 L4.766,9.751 L4.375,10.706 C4.628,10.555 4.859,10.407 5.067,10.263 L5.558,9.911 L6.150,10.024 C6.730,10.130 7.299,10.183 7.857,10.183 C8.996,10.183 10.060,9.987 11.049,9.592 C12.039,9.199 12.826,8.665 13.410,7.990 C13.994,7.316 14.286,6.593 14.286,5.820 C14.286,5.047 13.994,4.324 13.410,3.649 Z"/></svg> 26</a>
										</li>
										<li>
											<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="21px" height="13px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M6.125,2.599 L6.125,-0.000 L-0.000,6.066 L6.125,12.132 L6.125,9.533 L2.625,6.066 L6.125,2.599 ZM11.375,3.466 L11.375,-0.000 L5.250,6.066 L11.375,12.132 L11.375,8.579 C15.750,8.579 18.812,9.966 21.000,12.999 C20.125,8.666 17.500,4.332 11.375,3.466 Z"/></svg></a>
										</li>
										<li class="blog_share">
											<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="13px" height="13px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M10.606,8.262 C9.847,8.262 9.179,8.621 8.741,9.169 L4.687,7.112 C4.740,6.916 4.778,6.713 4.778,6.500 C4.778,6.267 4.733,6.048 4.670,5.835 L8.706,3.787 C9.141,4.361 9.827,4.736 10.606,4.736 C11.926,4.736 12.994,3.677 12.994,2.368 C12.994,1.061 11.926,0.000 10.606,0.000 C9.289,0.000 8.219,1.061 8.219,2.368 C8.219,2.582 8.258,2.786 8.311,2.983 L4.259,5.040 C3.821,4.490 3.151,4.131 2.391,4.131 C1.072,4.131 0.005,5.191 0.005,6.500 C0.005,7.808 1.072,8.868 2.391,8.868 C3.172,8.868 3.857,8.492 4.294,7.917 L8.328,9.964 C8.265,10.177 8.219,10.398 8.219,10.630 C8.219,11.939 9.289,12.999 10.606,12.999 C11.926,12.999 12.994,11.939 12.994,10.630 C12.994,9.321 11.926,8.262 10.606,8.262 Z"/></svg> share</a>
											<div class="blog_onhover_share_icon">
												<ul>
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
													<li><a href="#"><i class="fa fa-instagram"></i></a></li>
												</ul>
											</div>
										</li>
									</ul>
									<div class="blog_comment_action">
										<span><i class="fa fa-ellipsis-v"></i></span>
									</div>
									<ul class="comment_action">
										<li><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px"><path fill-rule="evenodd"  fill="rgb(112, 112, 112)" d="M13.487,4.224 L12.869,4.844 L9.156,1.131 L9.775,0.512 C10.458,-0.171 11.567,-0.171 12.250,0.512 L13.487,1.750 C14.170,2.433 14.170,3.541 13.487,4.224 ZM4.825,11.649 C4.654,11.820 4.654,12.097 4.825,12.267 C4.996,12.439 5.273,12.439 5.444,12.267 L12.250,5.462 L11.631,4.843 L4.825,11.649 ZM1.731,8.555 C1.560,8.726 1.560,9.003 1.731,9.174 C1.902,9.345 2.179,9.345 2.350,9.174 L9.156,2.368 L8.538,1.750 L1.731,8.555 ZM9.774,2.987 L2.968,9.793 C2.626,10.134 2.627,10.688 2.968,11.030 C3.310,11.372 3.864,11.373 4.206,11.029 L11.012,4.224 L9.774,2.987 ZM4.205,12.884 C3.995,12.675 3.894,12.409 3.857,12.136 C3.768,12.150 3.678,12.162 3.587,12.162 C3.119,12.162 2.680,11.980 2.350,11.649 C2.019,11.317 1.837,10.879 1.837,10.411 C1.837,10.326 1.850,10.243 1.862,10.160 C1.579,10.122 1.317,9.998 1.112,9.793 C1.093,9.773 1.086,9.746 1.068,9.725 L-0.000,14.000 L4.263,12.932 C4.244,12.915 4.223,12.902 4.205,12.884 Z"/></svg> Edit Post</a></li>
										<li><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="11px" height="16px"><path fill-rule="evenodd"  fill="rgb(112, 112, 112)" d="M9.485,4.765 L1.578,4.765 C0.746,4.765 0.072,5.413 0.072,6.214 L0.888,14.551 C0.888,15.351 1.563,16.000 2.395,16.000 L8.795,16.000 C9.627,16.000 10.302,15.351 10.302,14.551 L10.992,6.214 C10.991,5.413 10.317,4.765 9.485,4.765 ZM3.523,13.463 C3.523,13.863 3.186,14.186 2.771,14.186 C2.355,14.186 2.018,13.862 2.018,13.463 L2.018,6.939 C2.018,6.539 2.355,6.214 2.771,6.214 C3.186,6.214 3.523,6.539 3.523,6.939 L3.523,13.463 L3.523,13.463 ZM6.159,13.463 C6.159,13.863 5.822,14.186 5.406,14.186 C4.990,14.186 4.653,13.862 4.653,13.463 L4.653,6.939 C4.653,6.539 4.990,6.214 5.406,6.214 C5.822,6.214 6.159,6.539 6.159,6.939 L6.159,13.463 ZM8.795,13.463 C8.795,13.863 8.458,14.186 8.042,14.186 C7.626,14.186 7.289,13.862 7.289,13.463 L7.289,6.939 C7.289,6.539 7.626,6.214 8.042,6.214 C8.458,6.214 8.795,6.539 8.795,6.939 L8.795,13.463 ZM1.176,4.041 L10.292,1.784 C10.796,1.659 11.099,1.166 10.970,0.681 C10.840,0.197 10.327,-0.095 9.823,0.028 L7.021,0.722 C6.761,0.351 6.282,0.157 5.807,0.274 L4.713,0.546 C4.238,0.663 3.916,1.056 3.874,1.501 L0.707,2.286 C0.203,2.410 -0.099,2.904 0.030,3.389 C0.159,3.873 0.673,4.164 1.176,4.041 Z"/></svg> Delete Post</a></li>
									</ul>
								</div>
								<ul class="children">
									<li>
										<div class="blog_comment">
											<div class="blog_comment_img">
												<img src="https://via.placeholder.com/70x70" class="img-fluid" alt="">
											</div>
											<div class="blog_comment_data">
												<h3>John Doe <span>- 29 july 2018</span></h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusd tempor incidiunt utorekse eet dolore magna aliqua. Ut enim ad minim veniam,</p>
											</div>
										</div>
										<div class="blog_comment_meta">
											<ul>
												<li class="blog_toggleonclick">
													<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="18px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M15.491,10.060 C15.831,9.526 16.001,8.938 16.001,8.297 C16.001,7.554 15.737,6.908 15.210,6.360 C14.682,5.812 14.056,5.538 13.334,5.538 L11.501,5.538 C11.834,4.824 12.001,4.131 12.001,3.461 C12.001,2.617 11.879,1.946 11.636,1.448 C11.393,0.951 11.039,0.585 10.573,0.350 C10.108,0.116 9.583,-0.001 9.000,-0.001 C8.646,-0.001 8.333,0.132 8.062,0.399 C7.764,0.702 7.548,1.092 7.417,1.568 C7.285,2.044 7.179,2.500 7.099,2.936 C7.019,3.372 6.896,3.681 6.729,3.861 C6.389,4.243 6.017,4.705 5.614,5.246 C4.913,6.190 4.437,6.750 4.187,6.923 L1.332,6.923 C0.964,6.923 0.650,7.058 0.389,7.328 C0.129,7.599 -0.001,7.925 -0.001,8.307 L-0.001,15.231 C-0.001,15.613 0.129,15.939 0.389,16.210 C0.650,16.481 0.964,16.616 1.332,16.616 L4.333,16.616 C4.485,16.616 4.965,16.760 5.770,17.049 C6.625,17.359 7.377,17.595 8.026,17.757 C8.675,17.919 9.333,18.001 10.000,18.001 L10.969,18.001 L11.344,18.001 C12.323,18.001 13.112,17.710 13.709,17.130 C14.306,16.549 14.601,15.757 14.595,14.755 C15.011,14.200 15.220,13.558 15.220,12.829 C15.220,12.671 15.209,12.516 15.189,12.364 C15.452,11.881 15.584,11.362 15.584,10.806 C15.584,10.547 15.553,10.298 15.491,10.060 ZM2.468,15.026 C2.336,15.162 2.180,15.231 1.999,15.231 C1.819,15.231 1.662,15.162 1.530,15.026 C1.398,14.889 1.332,14.726 1.332,14.538 C1.332,14.351 1.398,14.189 1.530,14.052 C1.662,13.915 1.819,13.846 1.999,13.846 C2.180,13.846 2.336,13.915 2.468,14.052 C2.600,14.189 2.666,14.351 2.666,14.538 C2.666,14.726 2.600,14.889 2.468,15.026 ZM14.444,9.184 C14.295,9.516 14.109,9.686 13.887,9.693 C13.991,9.815 14.077,9.987 14.147,10.206 C14.216,10.426 14.251,10.627 14.251,10.807 C14.251,11.304 14.067,11.733 13.699,12.094 C13.824,12.325 13.887,12.574 13.887,12.840 C13.887,13.107 13.826,13.372 13.704,13.635 C13.583,13.898 13.418,14.088 13.209,14.203 C13.244,14.419 13.261,14.622 13.261,14.809 C13.261,16.013 12.594,16.615 11.261,16.615 L10.001,16.615 C9.090,16.615 7.903,16.352 6.437,15.826 C6.403,15.811 6.302,15.774 6.135,15.712 C5.968,15.651 5.845,15.606 5.765,15.577 C5.685,15.548 5.564,15.507 5.401,15.453 C5.237,15.399 5.106,15.359 5.005,15.334 C4.904,15.308 4.789,15.285 4.661,15.263 C4.533,15.242 4.423,15.231 4.333,15.231 L4.000,15.231 L4.000,8.308 L4.333,8.308 C4.444,8.308 4.567,8.275 4.703,8.210 C4.838,8.145 4.977,8.048 5.119,7.918 C5.262,7.788 5.395,7.660 5.521,7.534 C5.646,7.408 5.784,7.249 5.937,7.058 C6.090,6.867 6.210,6.714 6.297,6.598 C6.384,6.483 6.493,6.335 6.625,6.155 C6.757,5.975 6.837,5.866 6.865,5.830 C7.246,5.340 7.514,5.012 7.667,4.846 C7.952,4.536 8.158,4.141 8.286,3.661 C8.415,3.182 8.521,2.729 8.604,2.304 C8.687,1.878 8.820,1.572 9.000,1.384 C9.667,1.384 10.112,1.553 10.334,1.892 C10.556,2.232 10.667,2.754 10.667,3.461 C10.667,3.887 10.500,4.465 10.167,5.197 C9.834,5.929 9.667,6.505 9.667,6.923 L13.334,6.923 C13.682,6.923 13.991,7.062 14.261,7.339 C14.532,7.617 14.668,7.940 14.668,8.307 C14.668,8.560 14.593,8.852 14.444,9.184 Z"/></svg> 26</a>
													<div class="blog_onhover_social_icon">
														<ul>
															<li><a href="javascript:;"><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""> <img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""> <span>You,John</span> and 24 more like this</a></li>
														</ul>
													</div>
												</li>
												<li>
													<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="16px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M19.207,11.280 C18.679,12.072 17.954,12.740 17.032,13.286 C17.106,13.468 17.182,13.634 17.260,13.786 C17.338,13.937 17.432,14.083 17.539,14.223 C17.647,14.363 17.731,14.473 17.790,14.553 C17.850,14.632 17.947,14.744 18.081,14.888 C18.215,15.032 18.300,15.127 18.337,15.172 C18.345,15.180 18.360,15.197 18.382,15.223 C18.404,15.249 18.421,15.269 18.432,15.280 C18.443,15.291 18.458,15.310 18.477,15.337 C18.495,15.363 18.508,15.384 18.516,15.399 L18.544,15.456 C18.544,15.456 18.551,15.478 18.566,15.524 C18.580,15.569 18.582,15.594 18.571,15.598 C18.560,15.601 18.557,15.626 18.560,15.672 C18.538,15.777 18.490,15.861 18.415,15.921 C18.341,15.982 18.259,16.009 18.170,16.001 C17.797,15.948 17.478,15.887 17.210,15.819 C16.064,15.516 15.029,15.032 14.107,14.364 C13.437,14.486 12.783,14.546 12.143,14.546 C10.126,14.546 8.370,14.046 6.875,13.046 C7.306,13.077 7.634,13.092 7.857,13.092 C9.055,13.092 10.204,12.921 11.305,12.580 C12.407,12.239 13.389,11.751 14.252,11.115 C15.182,10.418 15.896,9.615 16.395,8.705 C16.894,7.797 17.143,6.835 17.143,5.819 C17.143,5.236 17.057,4.660 16.886,4.092 C17.846,4.630 18.605,5.304 19.163,6.115 C19.721,6.925 20.000,7.797 20.000,8.728 C20.000,9.637 19.736,10.488 19.207,11.280 ZM11.803,10.859 C10.594,11.378 9.278,11.638 7.857,11.637 C7.217,11.637 6.563,11.577 5.893,11.455 C4.970,12.122 3.936,12.607 2.790,12.910 C2.522,12.978 2.202,13.039 1.830,13.092 L1.797,13.092 C1.715,13.092 1.639,13.061 1.568,13.001 C1.498,12.940 1.455,12.861 1.440,12.762 C1.432,12.740 1.429,12.715 1.429,12.689 C1.429,12.662 1.430,12.637 1.434,12.615 C1.438,12.592 1.445,12.569 1.456,12.547 L1.484,12.490 C1.484,12.490 1.498,12.469 1.524,12.427 C1.549,12.386 1.564,12.367 1.568,12.371 C1.572,12.375 1.589,12.356 1.618,12.314 C1.648,12.272 1.663,12.255 1.663,12.263 C1.700,12.217 1.786,12.123 1.920,11.979 C2.054,11.835 2.151,11.723 2.210,11.644 C2.270,11.564 2.353,11.454 2.461,11.314 C2.569,11.174 2.662,11.028 2.740,10.877 C2.818,10.725 2.895,10.559 2.969,10.377 C2.046,9.831 1.321,9.161 0.793,8.365 C0.264,7.570 0.000,6.721 0.000,5.820 C0.000,4.767 0.350,3.793 1.049,2.900 C1.749,2.006 2.703,1.299 3.912,0.780 C5.121,0.262 6.436,0.002 7.857,0.002 C9.278,0.002 10.594,0.261 11.803,0.780 C13.012,1.299 13.966,2.006 14.665,2.899 C15.364,3.793 15.714,4.767 15.714,5.820 C15.714,6.873 15.364,7.846 14.665,8.740 C13.966,9.634 13.012,10.340 11.803,10.859 ZM13.410,3.649 C12.826,2.975 12.039,2.441 11.049,2.047 C10.060,1.653 8.996,1.456 7.857,1.456 C6.719,1.456 5.655,1.653 4.665,2.047 C3.676,2.441 2.889,2.975 2.305,3.649 C1.721,4.324 1.429,5.047 1.429,5.820 C1.429,6.441 1.626,7.039 2.020,7.615 C2.415,8.191 2.969,8.691 3.683,9.115 L4.766,9.751 L4.375,10.706 C4.628,10.555 4.859,10.407 5.067,10.263 L5.558,9.911 L6.150,10.024 C6.730,10.130 7.299,10.183 7.857,10.183 C8.996,10.183 10.060,9.987 11.049,9.592 C12.039,9.199 12.826,8.665 13.410,7.990 C13.994,7.316 14.286,6.593 14.286,5.820 C14.286,5.047 13.994,4.324 13.410,3.649 Z"/></svg> 26</a>
												</li>
												<li>
													<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="21px" height="13px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M6.125,2.599 L6.125,-0.000 L-0.000,6.066 L6.125,12.132 L6.125,9.533 L2.625,6.066 L6.125,2.599 ZM11.375,3.466 L11.375,-0.000 L5.250,6.066 L11.375,12.132 L11.375,8.579 C15.750,8.579 18.812,9.966 21.000,12.999 C20.125,8.666 17.500,4.332 11.375,3.466 Z"/></svg></a>
												</li>
												<li class="blog_share">
													<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="13px" height="13px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M10.606,8.262 C9.847,8.262 9.179,8.621 8.741,9.169 L4.687,7.112 C4.740,6.916 4.778,6.713 4.778,6.500 C4.778,6.267 4.733,6.048 4.670,5.835 L8.706,3.787 C9.141,4.361 9.827,4.736 10.606,4.736 C11.926,4.736 12.994,3.677 12.994,2.368 C12.994,1.061 11.926,0.000 10.606,0.000 C9.289,0.000 8.219,1.061 8.219,2.368 C8.219,2.582 8.258,2.786 8.311,2.983 L4.259,5.040 C3.821,4.490 3.151,4.131 2.391,4.131 C1.072,4.131 0.005,5.191 0.005,6.500 C0.005,7.808 1.072,8.868 2.391,8.868 C3.172,8.868 3.857,8.492 4.294,7.917 L8.328,9.964 C8.265,10.177 8.219,10.398 8.219,10.630 C8.219,11.939 9.289,12.999 10.606,12.999 C11.926,12.999 12.994,11.939 12.994,10.630 C12.994,9.321 11.926,8.262 10.606,8.262 Z"/></svg> share</a>
													<div class="blog_onhover_share_icon">
														<ul>
															<li><a href="#"><i class="fa fa-facebook"></i></a></li>
															<li><a href="#"><i class="fa fa-twitter"></i></a></li>
															<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
															<li><a href="#"><i class="fa fa-instagram"></i></a></li>
														</ul>
													</div>
												</li>
											</ul>
											<div class="blog_comment_action">
												<span><i class="fa fa-ellipsis-v"></i></span>
											</div>
											<ul class="comment_action">
												<li><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px"><path fill-rule="evenodd"  fill="rgb(112, 112, 112)" d="M13.487,4.224 L12.869,4.844 L9.156,1.131 L9.775,0.512 C10.458,-0.171 11.567,-0.171 12.250,0.512 L13.487,1.750 C14.170,2.433 14.170,3.541 13.487,4.224 ZM4.825,11.649 C4.654,11.820 4.654,12.097 4.825,12.267 C4.996,12.439 5.273,12.439 5.444,12.267 L12.250,5.462 L11.631,4.843 L4.825,11.649 ZM1.731,8.555 C1.560,8.726 1.560,9.003 1.731,9.174 C1.902,9.345 2.179,9.345 2.350,9.174 L9.156,2.368 L8.538,1.750 L1.731,8.555 ZM9.774,2.987 L2.968,9.793 C2.626,10.134 2.627,10.688 2.968,11.030 C3.310,11.372 3.864,11.373 4.206,11.029 L11.012,4.224 L9.774,2.987 ZM4.205,12.884 C3.995,12.675 3.894,12.409 3.857,12.136 C3.768,12.150 3.678,12.162 3.587,12.162 C3.119,12.162 2.680,11.980 2.350,11.649 C2.019,11.317 1.837,10.879 1.837,10.411 C1.837,10.326 1.850,10.243 1.862,10.160 C1.579,10.122 1.317,9.998 1.112,9.793 C1.093,9.773 1.086,9.746 1.068,9.725 L-0.000,14.000 L4.263,12.932 C4.244,12.915 4.223,12.902 4.205,12.884 Z"/></svg> Edit Post</a></li>
												<li><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="11px" height="16px"><path fill-rule="evenodd"  fill="rgb(112, 112, 112)" d="M9.485,4.765 L1.578,4.765 C0.746,4.765 0.072,5.413 0.072,6.214 L0.888,14.551 C0.888,15.351 1.563,16.000 2.395,16.000 L8.795,16.000 C9.627,16.000 10.302,15.351 10.302,14.551 L10.992,6.214 C10.991,5.413 10.317,4.765 9.485,4.765 ZM3.523,13.463 C3.523,13.863 3.186,14.186 2.771,14.186 C2.355,14.186 2.018,13.862 2.018,13.463 L2.018,6.939 C2.018,6.539 2.355,6.214 2.771,6.214 C3.186,6.214 3.523,6.539 3.523,6.939 L3.523,13.463 L3.523,13.463 ZM6.159,13.463 C6.159,13.863 5.822,14.186 5.406,14.186 C4.990,14.186 4.653,13.862 4.653,13.463 L4.653,6.939 C4.653,6.539 4.990,6.214 5.406,6.214 C5.822,6.214 6.159,6.539 6.159,6.939 L6.159,13.463 ZM8.795,13.463 C8.795,13.863 8.458,14.186 8.042,14.186 C7.626,14.186 7.289,13.862 7.289,13.463 L7.289,6.939 C7.289,6.539 7.626,6.214 8.042,6.214 C8.458,6.214 8.795,6.539 8.795,6.939 L8.795,13.463 ZM1.176,4.041 L10.292,1.784 C10.796,1.659 11.099,1.166 10.970,0.681 C10.840,0.197 10.327,-0.095 9.823,0.028 L7.021,0.722 C6.761,0.351 6.282,0.157 5.807,0.274 L4.713,0.546 C4.238,0.663 3.916,1.056 3.874,1.501 L0.707,2.286 C0.203,2.410 -0.099,2.904 0.030,3.389 C0.159,3.873 0.673,4.164 1.176,4.041 Z"/></svg> Delete Post</a></li>
											</ul>
										</div>
									</li>
								</ul>
							</li>
							<li class="wow fadeInUp">
								<div class="blog_comment">
									<div class="blog_comment_img">
										<img src="https://via.placeholder.com/70x70" class="img-fluid" alt="">
									</div>
									<div class="blog_comment_data">
										<h3>John Doe <span>- 29 july 2018</span></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusd tempor incidiunt utorekse eet dolore magna aliqua. Ut enim ad minim veniam,</p>
									</div>
								</div>
								<div class="blog_comment_meta">
									<ul>
										<li class="blog_toggleonclick">
											<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="18px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M15.491,10.060 C15.831,9.526 16.001,8.938 16.001,8.297 C16.001,7.554 15.737,6.908 15.210,6.360 C14.682,5.812 14.056,5.538 13.334,5.538 L11.501,5.538 C11.834,4.824 12.001,4.131 12.001,3.461 C12.001,2.617 11.879,1.946 11.636,1.448 C11.393,0.951 11.039,0.585 10.573,0.350 C10.108,0.116 9.583,-0.001 9.000,-0.001 C8.646,-0.001 8.333,0.132 8.062,0.399 C7.764,0.702 7.548,1.092 7.417,1.568 C7.285,2.044 7.179,2.500 7.099,2.936 C7.019,3.372 6.896,3.681 6.729,3.861 C6.389,4.243 6.017,4.705 5.614,5.246 C4.913,6.190 4.437,6.750 4.187,6.923 L1.332,6.923 C0.964,6.923 0.650,7.058 0.389,7.328 C0.129,7.599 -0.001,7.925 -0.001,8.307 L-0.001,15.231 C-0.001,15.613 0.129,15.939 0.389,16.210 C0.650,16.481 0.964,16.616 1.332,16.616 L4.333,16.616 C4.485,16.616 4.965,16.760 5.770,17.049 C6.625,17.359 7.377,17.595 8.026,17.757 C8.675,17.919 9.333,18.001 10.000,18.001 L10.969,18.001 L11.344,18.001 C12.323,18.001 13.112,17.710 13.709,17.130 C14.306,16.549 14.601,15.757 14.595,14.755 C15.011,14.200 15.220,13.558 15.220,12.829 C15.220,12.671 15.209,12.516 15.189,12.364 C15.452,11.881 15.584,11.362 15.584,10.806 C15.584,10.547 15.553,10.298 15.491,10.060 ZM2.468,15.026 C2.336,15.162 2.180,15.231 1.999,15.231 C1.819,15.231 1.662,15.162 1.530,15.026 C1.398,14.889 1.332,14.726 1.332,14.538 C1.332,14.351 1.398,14.189 1.530,14.052 C1.662,13.915 1.819,13.846 1.999,13.846 C2.180,13.846 2.336,13.915 2.468,14.052 C2.600,14.189 2.666,14.351 2.666,14.538 C2.666,14.726 2.600,14.889 2.468,15.026 ZM14.444,9.184 C14.295,9.516 14.109,9.686 13.887,9.693 C13.991,9.815 14.077,9.987 14.147,10.206 C14.216,10.426 14.251,10.627 14.251,10.807 C14.251,11.304 14.067,11.733 13.699,12.094 C13.824,12.325 13.887,12.574 13.887,12.840 C13.887,13.107 13.826,13.372 13.704,13.635 C13.583,13.898 13.418,14.088 13.209,14.203 C13.244,14.419 13.261,14.622 13.261,14.809 C13.261,16.013 12.594,16.615 11.261,16.615 L10.001,16.615 C9.090,16.615 7.903,16.352 6.437,15.826 C6.403,15.811 6.302,15.774 6.135,15.712 C5.968,15.651 5.845,15.606 5.765,15.577 C5.685,15.548 5.564,15.507 5.401,15.453 C5.237,15.399 5.106,15.359 5.005,15.334 C4.904,15.308 4.789,15.285 4.661,15.263 C4.533,15.242 4.423,15.231 4.333,15.231 L4.000,15.231 L4.000,8.308 L4.333,8.308 C4.444,8.308 4.567,8.275 4.703,8.210 C4.838,8.145 4.977,8.048 5.119,7.918 C5.262,7.788 5.395,7.660 5.521,7.534 C5.646,7.408 5.784,7.249 5.937,7.058 C6.090,6.867 6.210,6.714 6.297,6.598 C6.384,6.483 6.493,6.335 6.625,6.155 C6.757,5.975 6.837,5.866 6.865,5.830 C7.246,5.340 7.514,5.012 7.667,4.846 C7.952,4.536 8.158,4.141 8.286,3.661 C8.415,3.182 8.521,2.729 8.604,2.304 C8.687,1.878 8.820,1.572 9.000,1.384 C9.667,1.384 10.112,1.553 10.334,1.892 C10.556,2.232 10.667,2.754 10.667,3.461 C10.667,3.887 10.500,4.465 10.167,5.197 C9.834,5.929 9.667,6.505 9.667,6.923 L13.334,6.923 C13.682,6.923 13.991,7.062 14.261,7.339 C14.532,7.617 14.668,7.940 14.668,8.307 C14.668,8.560 14.593,8.852 14.444,9.184 Z"/></svg> 26</a>
											<div class="blog_onhover_social_icon">
												<ul>
													<li><a href="javascript:;"><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""> <img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""> <span>You,John</span> and 24 more like this</a></li>
												</ul>
											</div>
										</li>
										<li>
											<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="16px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M19.207,11.280 C18.679,12.072 17.954,12.740 17.032,13.286 C17.106,13.468 17.182,13.634 17.260,13.786 C17.338,13.937 17.432,14.083 17.539,14.223 C17.647,14.363 17.731,14.473 17.790,14.553 C17.850,14.632 17.947,14.744 18.081,14.888 C18.215,15.032 18.300,15.127 18.337,15.172 C18.345,15.180 18.360,15.197 18.382,15.223 C18.404,15.249 18.421,15.269 18.432,15.280 C18.443,15.291 18.458,15.310 18.477,15.337 C18.495,15.363 18.508,15.384 18.516,15.399 L18.544,15.456 C18.544,15.456 18.551,15.478 18.566,15.524 C18.580,15.569 18.582,15.594 18.571,15.598 C18.560,15.601 18.557,15.626 18.560,15.672 C18.538,15.777 18.490,15.861 18.415,15.921 C18.341,15.982 18.259,16.009 18.170,16.001 C17.797,15.948 17.478,15.887 17.210,15.819 C16.064,15.516 15.029,15.032 14.107,14.364 C13.437,14.486 12.783,14.546 12.143,14.546 C10.126,14.546 8.370,14.046 6.875,13.046 C7.306,13.077 7.634,13.092 7.857,13.092 C9.055,13.092 10.204,12.921 11.305,12.580 C12.407,12.239 13.389,11.751 14.252,11.115 C15.182,10.418 15.896,9.615 16.395,8.705 C16.894,7.797 17.143,6.835 17.143,5.819 C17.143,5.236 17.057,4.660 16.886,4.092 C17.846,4.630 18.605,5.304 19.163,6.115 C19.721,6.925 20.000,7.797 20.000,8.728 C20.000,9.637 19.736,10.488 19.207,11.280 ZM11.803,10.859 C10.594,11.378 9.278,11.638 7.857,11.637 C7.217,11.637 6.563,11.577 5.893,11.455 C4.970,12.122 3.936,12.607 2.790,12.910 C2.522,12.978 2.202,13.039 1.830,13.092 L1.797,13.092 C1.715,13.092 1.639,13.061 1.568,13.001 C1.498,12.940 1.455,12.861 1.440,12.762 C1.432,12.740 1.429,12.715 1.429,12.689 C1.429,12.662 1.430,12.637 1.434,12.615 C1.438,12.592 1.445,12.569 1.456,12.547 L1.484,12.490 C1.484,12.490 1.498,12.469 1.524,12.427 C1.549,12.386 1.564,12.367 1.568,12.371 C1.572,12.375 1.589,12.356 1.618,12.314 C1.648,12.272 1.663,12.255 1.663,12.263 C1.700,12.217 1.786,12.123 1.920,11.979 C2.054,11.835 2.151,11.723 2.210,11.644 C2.270,11.564 2.353,11.454 2.461,11.314 C2.569,11.174 2.662,11.028 2.740,10.877 C2.818,10.725 2.895,10.559 2.969,10.377 C2.046,9.831 1.321,9.161 0.793,8.365 C0.264,7.570 0.000,6.721 0.000,5.820 C0.000,4.767 0.350,3.793 1.049,2.900 C1.749,2.006 2.703,1.299 3.912,0.780 C5.121,0.262 6.436,0.002 7.857,0.002 C9.278,0.002 10.594,0.261 11.803,0.780 C13.012,1.299 13.966,2.006 14.665,2.899 C15.364,3.793 15.714,4.767 15.714,5.820 C15.714,6.873 15.364,7.846 14.665,8.740 C13.966,9.634 13.012,10.340 11.803,10.859 ZM13.410,3.649 C12.826,2.975 12.039,2.441 11.049,2.047 C10.060,1.653 8.996,1.456 7.857,1.456 C6.719,1.456 5.655,1.653 4.665,2.047 C3.676,2.441 2.889,2.975 2.305,3.649 C1.721,4.324 1.429,5.047 1.429,5.820 C1.429,6.441 1.626,7.039 2.020,7.615 C2.415,8.191 2.969,8.691 3.683,9.115 L4.766,9.751 L4.375,10.706 C4.628,10.555 4.859,10.407 5.067,10.263 L5.558,9.911 L6.150,10.024 C6.730,10.130 7.299,10.183 7.857,10.183 C8.996,10.183 10.060,9.987 11.049,9.592 C12.039,9.199 12.826,8.665 13.410,7.990 C13.994,7.316 14.286,6.593 14.286,5.820 C14.286,5.047 13.994,4.324 13.410,3.649 Z"/></svg> 26</a>
										</li>
										<li>
											<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="21px" height="13px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M6.125,2.599 L6.125,-0.000 L-0.000,6.066 L6.125,12.132 L6.125,9.533 L2.625,6.066 L6.125,2.599 ZM11.375,3.466 L11.375,-0.000 L5.250,6.066 L11.375,12.132 L11.375,8.579 C15.750,8.579 18.812,9.966 21.000,12.999 C20.125,8.666 17.500,4.332 11.375,3.466 Z"/></svg></a>
										</li>
										<li class="blog_share">
											<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="13px" height="13px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M10.606,8.262 C9.847,8.262 9.179,8.621 8.741,9.169 L4.687,7.112 C4.740,6.916 4.778,6.713 4.778,6.500 C4.778,6.267 4.733,6.048 4.670,5.835 L8.706,3.787 C9.141,4.361 9.827,4.736 10.606,4.736 C11.926,4.736 12.994,3.677 12.994,2.368 C12.994,1.061 11.926,0.000 10.606,0.000 C9.289,0.000 8.219,1.061 8.219,2.368 C8.219,2.582 8.258,2.786 8.311,2.983 L4.259,5.040 C3.821,4.490 3.151,4.131 2.391,4.131 C1.072,4.131 0.005,5.191 0.005,6.500 C0.005,7.808 1.072,8.868 2.391,8.868 C3.172,8.868 3.857,8.492 4.294,7.917 L8.328,9.964 C8.265,10.177 8.219,10.398 8.219,10.630 C8.219,11.939 9.289,12.999 10.606,12.999 C11.926,12.999 12.994,11.939 12.994,10.630 C12.994,9.321 11.926,8.262 10.606,8.262 Z"/></svg> share</a>
											<div class="blog_onhover_share_icon">
												<ul>
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
													<li><a href="#"><i class="fa fa-instagram"></i></a></li>
												</ul>
											</div>
										</li>
									</ul>
									<div class="blog_comment_action">
										<span><i class="fa fa-ellipsis-v"></i></span>
									</div>
									<ul class="comment_action">
										<li><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px"><path fill-rule="evenodd"  fill="rgb(112, 112, 112)" d="M13.487,4.224 L12.869,4.844 L9.156,1.131 L9.775,0.512 C10.458,-0.171 11.567,-0.171 12.250,0.512 L13.487,1.750 C14.170,2.433 14.170,3.541 13.487,4.224 ZM4.825,11.649 C4.654,11.820 4.654,12.097 4.825,12.267 C4.996,12.439 5.273,12.439 5.444,12.267 L12.250,5.462 L11.631,4.843 L4.825,11.649 ZM1.731,8.555 C1.560,8.726 1.560,9.003 1.731,9.174 C1.902,9.345 2.179,9.345 2.350,9.174 L9.156,2.368 L8.538,1.750 L1.731,8.555 ZM9.774,2.987 L2.968,9.793 C2.626,10.134 2.627,10.688 2.968,11.030 C3.310,11.372 3.864,11.373 4.206,11.029 L11.012,4.224 L9.774,2.987 ZM4.205,12.884 C3.995,12.675 3.894,12.409 3.857,12.136 C3.768,12.150 3.678,12.162 3.587,12.162 C3.119,12.162 2.680,11.980 2.350,11.649 C2.019,11.317 1.837,10.879 1.837,10.411 C1.837,10.326 1.850,10.243 1.862,10.160 C1.579,10.122 1.317,9.998 1.112,9.793 C1.093,9.773 1.086,9.746 1.068,9.725 L-0.000,14.000 L4.263,12.932 C4.244,12.915 4.223,12.902 4.205,12.884 Z"/></svg> Edit Post</a></li>
										<li><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="11px" height="16px"><path fill-rule="evenodd"  fill="rgb(112, 112, 112)" d="M9.485,4.765 L1.578,4.765 C0.746,4.765 0.072,5.413 0.072,6.214 L0.888,14.551 C0.888,15.351 1.563,16.000 2.395,16.000 L8.795,16.000 C9.627,16.000 10.302,15.351 10.302,14.551 L10.992,6.214 C10.991,5.413 10.317,4.765 9.485,4.765 ZM3.523,13.463 C3.523,13.863 3.186,14.186 2.771,14.186 C2.355,14.186 2.018,13.862 2.018,13.463 L2.018,6.939 C2.018,6.539 2.355,6.214 2.771,6.214 C3.186,6.214 3.523,6.539 3.523,6.939 L3.523,13.463 L3.523,13.463 ZM6.159,13.463 C6.159,13.863 5.822,14.186 5.406,14.186 C4.990,14.186 4.653,13.862 4.653,13.463 L4.653,6.939 C4.653,6.539 4.990,6.214 5.406,6.214 C5.822,6.214 6.159,6.539 6.159,6.939 L6.159,13.463 ZM8.795,13.463 C8.795,13.863 8.458,14.186 8.042,14.186 C7.626,14.186 7.289,13.862 7.289,13.463 L7.289,6.939 C7.289,6.539 7.626,6.214 8.042,6.214 C8.458,6.214 8.795,6.539 8.795,6.939 L8.795,13.463 ZM1.176,4.041 L10.292,1.784 C10.796,1.659 11.099,1.166 10.970,0.681 C10.840,0.197 10.327,-0.095 9.823,0.028 L7.021,0.722 C6.761,0.351 6.282,0.157 5.807,0.274 L4.713,0.546 C4.238,0.663 3.916,1.056 3.874,1.501 L0.707,2.286 C0.203,2.410 -0.099,2.904 0.030,3.389 C0.159,3.873 0.673,4.164 1.176,4.041 Z"/></svg> Delete Post</a></li>
									</ul>
								</div>
							</li>
							<li class="wow fadeInUp">
								<div class="blog_comment">
									<div class="blog_comment_img">
										<img src="https://via.placeholder.com/70x70" class="img-fluid" alt="">
									</div>
									<div class="blog_comment_data">
										<h3>John Doe <span>- 29 july 2018</span></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusd tempor incidiunt utorekse eet dolore magna aliqua. Ut enim ad minim veniam,</p>
									</div>
								</div>
								<div class="blog_comment_meta">
									<ul>
										<li class="blog_toggleonclick">
											<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="18px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M15.491,10.060 C15.831,9.526 16.001,8.938 16.001,8.297 C16.001,7.554 15.737,6.908 15.210,6.360 C14.682,5.812 14.056,5.538 13.334,5.538 L11.501,5.538 C11.834,4.824 12.001,4.131 12.001,3.461 C12.001,2.617 11.879,1.946 11.636,1.448 C11.393,0.951 11.039,0.585 10.573,0.350 C10.108,0.116 9.583,-0.001 9.000,-0.001 C8.646,-0.001 8.333,0.132 8.062,0.399 C7.764,0.702 7.548,1.092 7.417,1.568 C7.285,2.044 7.179,2.500 7.099,2.936 C7.019,3.372 6.896,3.681 6.729,3.861 C6.389,4.243 6.017,4.705 5.614,5.246 C4.913,6.190 4.437,6.750 4.187,6.923 L1.332,6.923 C0.964,6.923 0.650,7.058 0.389,7.328 C0.129,7.599 -0.001,7.925 -0.001,8.307 L-0.001,15.231 C-0.001,15.613 0.129,15.939 0.389,16.210 C0.650,16.481 0.964,16.616 1.332,16.616 L4.333,16.616 C4.485,16.616 4.965,16.760 5.770,17.049 C6.625,17.359 7.377,17.595 8.026,17.757 C8.675,17.919 9.333,18.001 10.000,18.001 L10.969,18.001 L11.344,18.001 C12.323,18.001 13.112,17.710 13.709,17.130 C14.306,16.549 14.601,15.757 14.595,14.755 C15.011,14.200 15.220,13.558 15.220,12.829 C15.220,12.671 15.209,12.516 15.189,12.364 C15.452,11.881 15.584,11.362 15.584,10.806 C15.584,10.547 15.553,10.298 15.491,10.060 ZM2.468,15.026 C2.336,15.162 2.180,15.231 1.999,15.231 C1.819,15.231 1.662,15.162 1.530,15.026 C1.398,14.889 1.332,14.726 1.332,14.538 C1.332,14.351 1.398,14.189 1.530,14.052 C1.662,13.915 1.819,13.846 1.999,13.846 C2.180,13.846 2.336,13.915 2.468,14.052 C2.600,14.189 2.666,14.351 2.666,14.538 C2.666,14.726 2.600,14.889 2.468,15.026 ZM14.444,9.184 C14.295,9.516 14.109,9.686 13.887,9.693 C13.991,9.815 14.077,9.987 14.147,10.206 C14.216,10.426 14.251,10.627 14.251,10.807 C14.251,11.304 14.067,11.733 13.699,12.094 C13.824,12.325 13.887,12.574 13.887,12.840 C13.887,13.107 13.826,13.372 13.704,13.635 C13.583,13.898 13.418,14.088 13.209,14.203 C13.244,14.419 13.261,14.622 13.261,14.809 C13.261,16.013 12.594,16.615 11.261,16.615 L10.001,16.615 C9.090,16.615 7.903,16.352 6.437,15.826 C6.403,15.811 6.302,15.774 6.135,15.712 C5.968,15.651 5.845,15.606 5.765,15.577 C5.685,15.548 5.564,15.507 5.401,15.453 C5.237,15.399 5.106,15.359 5.005,15.334 C4.904,15.308 4.789,15.285 4.661,15.263 C4.533,15.242 4.423,15.231 4.333,15.231 L4.000,15.231 L4.000,8.308 L4.333,8.308 C4.444,8.308 4.567,8.275 4.703,8.210 C4.838,8.145 4.977,8.048 5.119,7.918 C5.262,7.788 5.395,7.660 5.521,7.534 C5.646,7.408 5.784,7.249 5.937,7.058 C6.090,6.867 6.210,6.714 6.297,6.598 C6.384,6.483 6.493,6.335 6.625,6.155 C6.757,5.975 6.837,5.866 6.865,5.830 C7.246,5.340 7.514,5.012 7.667,4.846 C7.952,4.536 8.158,4.141 8.286,3.661 C8.415,3.182 8.521,2.729 8.604,2.304 C8.687,1.878 8.820,1.572 9.000,1.384 C9.667,1.384 10.112,1.553 10.334,1.892 C10.556,2.232 10.667,2.754 10.667,3.461 C10.667,3.887 10.500,4.465 10.167,5.197 C9.834,5.929 9.667,6.505 9.667,6.923 L13.334,6.923 C13.682,6.923 13.991,7.062 14.261,7.339 C14.532,7.617 14.668,7.940 14.668,8.307 C14.668,8.560 14.593,8.852 14.444,9.184 Z"/></svg> 26</a>
											<div class="blog_onhover_social_icon">
												<ul>
													<li><a href="javascript:;"><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""> <img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""><img src="https://via.placeholder.com/20x20" class="img-fluid" alt=""> <span>You,John</span> and 24 more like this</a></li>
												</ul>
											</div>
										</li>
										<li>
											<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="16px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M19.207,11.280 C18.679,12.072 17.954,12.740 17.032,13.286 C17.106,13.468 17.182,13.634 17.260,13.786 C17.338,13.937 17.432,14.083 17.539,14.223 C17.647,14.363 17.731,14.473 17.790,14.553 C17.850,14.632 17.947,14.744 18.081,14.888 C18.215,15.032 18.300,15.127 18.337,15.172 C18.345,15.180 18.360,15.197 18.382,15.223 C18.404,15.249 18.421,15.269 18.432,15.280 C18.443,15.291 18.458,15.310 18.477,15.337 C18.495,15.363 18.508,15.384 18.516,15.399 L18.544,15.456 C18.544,15.456 18.551,15.478 18.566,15.524 C18.580,15.569 18.582,15.594 18.571,15.598 C18.560,15.601 18.557,15.626 18.560,15.672 C18.538,15.777 18.490,15.861 18.415,15.921 C18.341,15.982 18.259,16.009 18.170,16.001 C17.797,15.948 17.478,15.887 17.210,15.819 C16.064,15.516 15.029,15.032 14.107,14.364 C13.437,14.486 12.783,14.546 12.143,14.546 C10.126,14.546 8.370,14.046 6.875,13.046 C7.306,13.077 7.634,13.092 7.857,13.092 C9.055,13.092 10.204,12.921 11.305,12.580 C12.407,12.239 13.389,11.751 14.252,11.115 C15.182,10.418 15.896,9.615 16.395,8.705 C16.894,7.797 17.143,6.835 17.143,5.819 C17.143,5.236 17.057,4.660 16.886,4.092 C17.846,4.630 18.605,5.304 19.163,6.115 C19.721,6.925 20.000,7.797 20.000,8.728 C20.000,9.637 19.736,10.488 19.207,11.280 ZM11.803,10.859 C10.594,11.378 9.278,11.638 7.857,11.637 C7.217,11.637 6.563,11.577 5.893,11.455 C4.970,12.122 3.936,12.607 2.790,12.910 C2.522,12.978 2.202,13.039 1.830,13.092 L1.797,13.092 C1.715,13.092 1.639,13.061 1.568,13.001 C1.498,12.940 1.455,12.861 1.440,12.762 C1.432,12.740 1.429,12.715 1.429,12.689 C1.429,12.662 1.430,12.637 1.434,12.615 C1.438,12.592 1.445,12.569 1.456,12.547 L1.484,12.490 C1.484,12.490 1.498,12.469 1.524,12.427 C1.549,12.386 1.564,12.367 1.568,12.371 C1.572,12.375 1.589,12.356 1.618,12.314 C1.648,12.272 1.663,12.255 1.663,12.263 C1.700,12.217 1.786,12.123 1.920,11.979 C2.054,11.835 2.151,11.723 2.210,11.644 C2.270,11.564 2.353,11.454 2.461,11.314 C2.569,11.174 2.662,11.028 2.740,10.877 C2.818,10.725 2.895,10.559 2.969,10.377 C2.046,9.831 1.321,9.161 0.793,8.365 C0.264,7.570 0.000,6.721 0.000,5.820 C0.000,4.767 0.350,3.793 1.049,2.900 C1.749,2.006 2.703,1.299 3.912,0.780 C5.121,0.262 6.436,0.002 7.857,0.002 C9.278,0.002 10.594,0.261 11.803,0.780 C13.012,1.299 13.966,2.006 14.665,2.899 C15.364,3.793 15.714,4.767 15.714,5.820 C15.714,6.873 15.364,7.846 14.665,8.740 C13.966,9.634 13.012,10.340 11.803,10.859 ZM13.410,3.649 C12.826,2.975 12.039,2.441 11.049,2.047 C10.060,1.653 8.996,1.456 7.857,1.456 C6.719,1.456 5.655,1.653 4.665,2.047 C3.676,2.441 2.889,2.975 2.305,3.649 C1.721,4.324 1.429,5.047 1.429,5.820 C1.429,6.441 1.626,7.039 2.020,7.615 C2.415,8.191 2.969,8.691 3.683,9.115 L4.766,9.751 L4.375,10.706 C4.628,10.555 4.859,10.407 5.067,10.263 L5.558,9.911 L6.150,10.024 C6.730,10.130 7.299,10.183 7.857,10.183 C8.996,10.183 10.060,9.987 11.049,9.592 C12.039,9.199 12.826,8.665 13.410,7.990 C13.994,7.316 14.286,6.593 14.286,5.820 C14.286,5.047 13.994,4.324 13.410,3.649 Z"/></svg> 26</a>
										</li>
										<li>
											<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="21px" height="13px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M6.125,2.599 L6.125,-0.000 L-0.000,6.066 L6.125,12.132 L6.125,9.533 L2.625,6.066 L6.125,2.599 ZM11.375,3.466 L11.375,-0.000 L5.250,6.066 L11.375,12.132 L11.375,8.579 C15.750,8.579 18.812,9.966 21.000,12.999 C20.125,8.666 17.500,4.332 11.375,3.466 Z"/></svg></a>
										</li>
										<li class="blog_share">
											<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="13px" height="13px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M10.606,8.262 C9.847,8.262 9.179,8.621 8.741,9.169 L4.687,7.112 C4.740,6.916 4.778,6.713 4.778,6.500 C4.778,6.267 4.733,6.048 4.670,5.835 L8.706,3.787 C9.141,4.361 9.827,4.736 10.606,4.736 C11.926,4.736 12.994,3.677 12.994,2.368 C12.994,1.061 11.926,0.000 10.606,0.000 C9.289,0.000 8.219,1.061 8.219,2.368 C8.219,2.582 8.258,2.786 8.311,2.983 L4.259,5.040 C3.821,4.490 3.151,4.131 2.391,4.131 C1.072,4.131 0.005,5.191 0.005,6.500 C0.005,7.808 1.072,8.868 2.391,8.868 C3.172,8.868 3.857,8.492 4.294,7.917 L8.328,9.964 C8.265,10.177 8.219,10.398 8.219,10.630 C8.219,11.939 9.289,12.999 10.606,12.999 C11.926,12.999 12.994,11.939 12.994,10.630 C12.994,9.321 11.926,8.262 10.606,8.262 Z"/></svg> share</a>
											<div class="blog_onhover_share_icon">
												<ul>
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
													<li><a href="#"><i class="fa fa-instagram"></i></a></li>
												</ul>
											</div>
										</li>
									</ul>
									<div class="blog_comment_action">
										<span><i class="fa fa-ellipsis-v"></i></span>
									</div>
									<ul class="comment_action">
										<li><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px"><path fill-rule="evenodd"  fill="rgb(112, 112, 112)" d="M13.487,4.224 L12.869,4.844 L9.156,1.131 L9.775,0.512 C10.458,-0.171 11.567,-0.171 12.250,0.512 L13.487,1.750 C14.170,2.433 14.170,3.541 13.487,4.224 ZM4.825,11.649 C4.654,11.820 4.654,12.097 4.825,12.267 C4.996,12.439 5.273,12.439 5.444,12.267 L12.250,5.462 L11.631,4.843 L4.825,11.649 ZM1.731,8.555 C1.560,8.726 1.560,9.003 1.731,9.174 C1.902,9.345 2.179,9.345 2.350,9.174 L9.156,2.368 L8.538,1.750 L1.731,8.555 ZM9.774,2.987 L2.968,9.793 C2.626,10.134 2.627,10.688 2.968,11.030 C3.310,11.372 3.864,11.373 4.206,11.029 L11.012,4.224 L9.774,2.987 ZM4.205,12.884 C3.995,12.675 3.894,12.409 3.857,12.136 C3.768,12.150 3.678,12.162 3.587,12.162 C3.119,12.162 2.680,11.980 2.350,11.649 C2.019,11.317 1.837,10.879 1.837,10.411 C1.837,10.326 1.850,10.243 1.862,10.160 C1.579,10.122 1.317,9.998 1.112,9.793 C1.093,9.773 1.086,9.746 1.068,9.725 L-0.000,14.000 L4.263,12.932 C4.244,12.915 4.223,12.902 4.205,12.884 Z"/></svg> Edit Post</a></li>
										<li><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="11px" height="16px"><path fill-rule="evenodd"  fill="rgb(112, 112, 112)" d="M9.485,4.765 L1.578,4.765 C0.746,4.765 0.072,5.413 0.072,6.214 L0.888,14.551 C0.888,15.351 1.563,16.000 2.395,16.000 L8.795,16.000 C9.627,16.000 10.302,15.351 10.302,14.551 L10.992,6.214 C10.991,5.413 10.317,4.765 9.485,4.765 ZM3.523,13.463 C3.523,13.863 3.186,14.186 2.771,14.186 C2.355,14.186 2.018,13.862 2.018,13.463 L2.018,6.939 C2.018,6.539 2.355,6.214 2.771,6.214 C3.186,6.214 3.523,6.539 3.523,6.939 L3.523,13.463 L3.523,13.463 ZM6.159,13.463 C6.159,13.863 5.822,14.186 5.406,14.186 C4.990,14.186 4.653,13.862 4.653,13.463 L4.653,6.939 C4.653,6.539 4.990,6.214 5.406,6.214 C5.822,6.214 6.159,6.539 6.159,6.939 L6.159,13.463 ZM8.795,13.463 C8.795,13.863 8.458,14.186 8.042,14.186 C7.626,14.186 7.289,13.862 7.289,13.463 L7.289,6.939 C7.289,6.539 7.626,6.214 8.042,6.214 C8.458,6.214 8.795,6.539 8.795,6.939 L8.795,13.463 ZM1.176,4.041 L10.292,1.784 C10.796,1.659 11.099,1.166 10.970,0.681 C10.840,0.197 10.327,-0.095 9.823,0.028 L7.021,0.722 C6.761,0.351 6.282,0.157 5.807,0.274 L4.713,0.546 C4.238,0.663 3.916,1.056 3.874,1.501 L0.707,2.286 C0.203,2.410 -0.099,2.904 0.030,3.389 C0.159,3.873 0.673,4.164 1.176,4.041 Z"/></svg> Delete Post</a></li>
									</ul>
								</div>
							</li>
						</ol>
					</div>
					<div class="blog_comment_formdiv wow fadeInUp">
						<h3>Leave Comments</h3>
						<form class="comment-form">
							<div class="blog_row">
								<div class="blog_halfbox">
									<div class="blog_form_group">
										<input type="text" class="form-control" placeholder="Enter Your Name">
									</div>
								</div>
								<div class="blog_halfbox">
									<div class="blog_form_group">
										<input type="text" class="form-control" placeholder="Enter Your Email">
									</div>
								</div>
							</div>
							<div class="blog_row">
								<div class="blog_form_group">
									<textarea class="form-control" placeholder="Comment" rows="5"></textarea>
								</div>
							</div>
							<div class="blog_row">
								<button class="blog_btn blog_bg_pink">Post comment</button>
							</div>
						</form>
                    </div>
                    
				</div>
			</div>
		</div>
    </div>
    
    <!-- footer and copyright -->
    <%- include('./base/footer') %>
    <!-- end footer and copyright -->
</div>


<%- include('./base/js') %> 
</body>
</html>