<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Wlog - Blog and Magazine HTML template </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Blog">
    <meta name="keywords" content="">
    <meta name="author" content="kamleshyadav">
    <meta name="MobileOptimized" content="320">
    
    <%- include('./base/css') %> 
</head>

<body class="homepage2">

<div id="blog_preloader_wrapper">
     <div id="blog_preloader_box">
          <div class="blog_loader">
              <div></div>
              <div></div>
          </div>
     </div>
</div>

<div class="blog_main_wrapper">
    
    <!-- top header -->
    <%- include('./base/top_header') %>
    <!-- end top header -->

    <!-- main_menu -->
    <%- include('./base/main_menu') %>
    <!-- end main_menu -->

    <%# content %> 
	<div class="blog_main_wrapper blog_toppadder60 blog_bottompadder60">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="blog_post_style2 blog_single_div ">
						<div class="blog_post_style2_img wow fadeInUp">
							<img src="/thumbnail/<%= article.thumbnail_img.filename %>" class="img-fluid" alt="" style="width: 100%; ">
						</div>
						<div class="blog_post_style2_content wow fadeInUp p-5">
							<h3><%- article.title %></h3>
							<div class="blog_author_data">
                                <a href="/author?id=<%= article.authorId._id %>"><img src="/avatar/<%= article.authorId.profile.avatar_img.filename %>" 
                                    class="img-fluid" alt="" width="34" height="34"> <%= article.authorId.profile.fullname %>
                                </a>
                            </div> 
							<ul class="blog_meta_tags">
								<li><span class="blog_bg_blue">
                                    <i class="fa fa-eye mr-2"></i> <%= article.interaction.views %></span>
                                </li> 
								<li><span class="blog_bg_pink">
                                    <i class="fa fa-comment mr-2"></i> <%= article.interaction.comments.length %></span>
                                </li> 
                            </ul>
                            <p>
                                <%- article.summary %> 
                            </p>
                            <%- article.body %> 
						</div>
                    </div>
                    
                    <%# comment %> 
					<%- include('./comment.ejs', {article: article}) %> 
				</div>
			</div>
		</div>
    </div>
    
    <!-- footer and copyright -->
    <%- include('./base/footer') %>
    <!-- end footer and copyright -->
</div>


<%- include('./base/js') %> 
</body>
</html>