<div class="blog_comment_div">
    <h3 class="wow fadeInUp">Comments <span>(<%= article.interaction.comments.length %>)</span></h3>
    <ol class="comment-list">
        <% for(let x = 0; x < article.interaction.comments.length; x++) { %> 
        <li class="wow fadeInUp">
            <div class="blog_comment">
                <div class="blog_comment_img">
                    <img src="https://via.placeholder.com/70x70" class="img-fluid" alt="">
                </div>
                <div class="blog_comment_data">
                    <h3><%= article.interaction.comments[x].postedBy %> 
                        <span>- <%= article.interaction.comments[x].createdAt.toLocaleDateString('en-Us',{year: 'numeric', month: 'long', day: '2-digit'}) %></span>
                    </h3>
                    <p><%- article.interaction.comments[x].text %></p>
                </div>
            </div>
            <div class="blog_comment_meta">
                <ul>
                    <li>
                        <form action="/comment/like/<%= article.interaction.comments[x]._id %>" method="POST">
                            <input type="hidden" name="articleId" value="<%= article._id %>">
                            <button class="btn" type="submit" style="font-size: 1.1rem;">
                                <i class="fa fa-thumbs-up mr-2"></i> <%= article.interaction.comments[x].likes %> 
                            </button>
                        </form>
                    </li> 
                    <li>
                        <form action="/comment/dislike/<%= article.interaction.comments[x]._id %>" method="POST">
                            <input type="hidden" name="articleId" value="<%= article._id %>">
                            <button class="btn" type="submit" style="font-size: 1.1rem;">
                                <i class="fa fa-thumbs-down mr-2"></i> <%= article.interaction.comments[x].dislikes %> 
                            </button>
                        </form>
                    </li>
                </ul>
                <div class="blog_comment_action">
                    <span><i class="fa fa-ellipsis-v"></i></span>
                </div>
                <ul class="comment_action">
                    <li><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px"><path fill-rule="evenodd"  fill="rgb(112, 112, 112)" d="M13.487,4.224 L12.869,4.844 L9.156,1.131 L9.775,0.512 C10.458,-0.171 11.567,-0.171 12.250,0.512 L13.487,1.750 C14.170,2.433 14.170,3.541 13.487,4.224 ZM4.825,11.649 C4.654,11.820 4.654,12.097 4.825,12.267 C4.996,12.439 5.273,12.439 5.444,12.267 L12.250,5.462 L11.631,4.843 L4.825,11.649 ZM1.731,8.555 C1.560,8.726 1.560,9.003 1.731,9.174 C1.902,9.345 2.179,9.345 2.350,9.174 L9.156,2.368 L8.538,1.750 L1.731,8.555 ZM9.774,2.987 L2.968,9.793 C2.626,10.134 2.627,10.688 2.968,11.030 C3.310,11.372 3.864,11.373 4.206,11.029 L11.012,4.224 L9.774,2.987 ZM4.205,12.884 C3.995,12.675 3.894,12.409 3.857,12.136 C3.768,12.150 3.678,12.162 3.587,12.162 C3.119,12.162 2.680,11.980 2.350,11.649 C2.019,11.317 1.837,10.879 1.837,10.411 C1.837,10.326 1.850,10.243 1.862,10.160 C1.579,10.122 1.317,9.998 1.112,9.793 C1.093,9.773 1.086,9.746 1.068,9.725 L-0.000,14.000 L4.263,12.932 C4.244,12.915 4.223,12.902 4.205,12.884 Z"/></svg> Edit Post</a></li>
                    <li><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="11px" height="16px"><path fill-rule="evenodd"  fill="rgb(112, 112, 112)" d="M9.485,4.765 L1.578,4.765 C0.746,4.765 0.072,5.413 0.072,6.214 L0.888,14.551 C0.888,15.351 1.563,16.000 2.395,16.000 L8.795,16.000 C9.627,16.000 10.302,15.351 10.302,14.551 L10.992,6.214 C10.991,5.413 10.317,4.765 9.485,4.765 ZM3.523,13.463 C3.523,13.863 3.186,14.186 2.771,14.186 C2.355,14.186 2.018,13.862 2.018,13.463 L2.018,6.939 C2.018,6.539 2.355,6.214 2.771,6.214 C3.186,6.214 3.523,6.539 3.523,6.939 L3.523,13.463 L3.523,13.463 ZM6.159,13.463 C6.159,13.863 5.822,14.186 5.406,14.186 C4.990,14.186 4.653,13.862 4.653,13.463 L4.653,6.939 C4.653,6.539 4.990,6.214 5.406,6.214 C5.822,6.214 6.159,6.539 6.159,6.939 L6.159,13.463 ZM8.795,13.463 C8.795,13.863 8.458,14.186 8.042,14.186 C7.626,14.186 7.289,13.862 7.289,13.463 L7.289,6.939 C7.289,6.539 7.626,6.214 8.042,6.214 C8.458,6.214 8.795,6.539 8.795,6.939 L8.795,13.463 ZM1.176,4.041 L10.292,1.784 C10.796,1.659 11.099,1.166 10.970,0.681 C10.840,0.197 10.327,-0.095 9.823,0.028 L7.021,0.722 C6.761,0.351 6.282,0.157 5.807,0.274 L4.713,0.546 C4.238,0.663 3.916,1.056 3.874,1.501 L0.707,2.286 C0.203,2.410 -0.099,2.904 0.030,3.389 C0.159,3.873 0.673,4.164 1.176,4.041 Z"/></svg> Delete Post</a></li>
                </ul>
            </div>
        </li>
        <% } %> 
    </ol>
</div>
<%# post comment form %> 
<div class="blog_comment_formdiv wow fadeInUp">
    <h3>Leave Comments</h3>
    <form id="post-comment-form" class="comment-form" method="POST" action="/comment/<%= article._id %>">
        <div class="blog_row">
            <div class="blog_halfbox">
                <div class="blog_form_group">
                    <input name="name" id="name" type="text" class="form-control" placeholder="Enter Your Name">
                </div>
            </div>
            <div class="blog_halfbox">
                <div class="blog_form_group">
                    <input name="email" id="email" type="email" class="form-control" placeholder="Enter Your Email">
                </div>
            </div>
        </div>
        <div class="blog_row">
            <div class="blog_form_group">
                <textarea name="text" id="text" class="form-control" placeholder="Comment" rows="5"></textarea>
            </div>
        </div>
        <div class="blog_row">
            <button class="blog_btn blog_bg_pink">Post comment</button>
        </div>
    </form>
</div>
