<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Wlog - Blog and Magazine HTML template </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Blog">
    <meta name="keywords" content="">
    <meta name="author" content="kamleshyadav">
    <meta name="MobileOptimized" content="320">
    
    <%- include('./base/css') %> 
</head>
<body class="homepage2">
<div id="blog_preloader_wrapper">
     <div id="blog_preloader_box">
          <div class="blog_loader">
              <div></div>
              <div></div>
          </div>
     </div>
</div>
<div class="blog_main_wrapper">
    <!-- top header -->
    <%- include('./base/top_header') %>
    <!-- end top header -->

    <!-- main_menu -->
    <%- include('./base/main_menu') %>
    <!-- end main_menu -->

	<div class="blog_main_wrapper blog_toppadder60 blog_bottompadder60">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="blog_heading_style2 text-center wow fadeInUp">
						<h3>Contact Information</h3>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-12">
					<div class="blog_contact_info_div wow fadeInUp">
						<span><svg xmlns="http://www.w3.org/2000/svg" width="29px" height="29px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M26.765,13.993 C26.264,11.065 24.882,8.403 22.777,6.296 C20.556,4.081 17.745,2.674 14.644,2.240 L14.958,-0.000 C18.547,0.501 21.799,2.125 24.369,4.696 C26.807,7.141 28.406,10.220 28.991,13.613 L26.765,13.993 ZM20.333,8.626 C21.799,10.099 22.765,11.952 23.115,13.999 L20.888,14.379 C20.617,12.798 19.875,11.361 18.741,10.226 C17.540,9.025 16.019,8.270 14.348,8.035 L14.662,5.795 C16.822,6.097 18.783,7.075 20.333,8.626 ZM9.461,15.822 C11.006,17.718 12.750,19.402 14.831,20.712 C15.277,20.989 15.772,21.195 16.237,21.448 C16.472,21.581 16.635,21.539 16.828,21.339 C17.534,20.615 18.252,19.903 18.970,19.190 C19.911,18.255 21.093,18.255 22.041,19.190 C23.193,20.337 24.345,21.484 25.492,22.637 C26.451,23.603 26.445,24.786 25.480,25.764 C24.828,26.422 24.134,27.050 23.519,27.738 C22.620,28.746 21.498,29.072 20.207,29.000 C18.330,28.897 16.605,28.276 14.940,27.467 C11.241,25.668 8.080,23.175 5.431,20.023 C3.470,17.693 1.854,15.152 0.792,12.291 C0.273,10.908 -0.095,9.490 0.019,7.986 C0.092,7.063 0.436,6.272 1.118,5.626 C1.854,4.926 2.547,4.195 3.271,3.483 C4.213,2.554 5.395,2.554 6.342,3.477 C6.927,4.051 7.501,4.636 8.080,5.216 C8.641,5.783 9.202,6.338 9.763,6.906 C10.753,7.902 10.753,9.061 9.769,10.051 C9.063,10.763 8.363,11.476 7.645,12.170 C7.458,12.357 7.440,12.508 7.537,12.737 C8.014,13.872 8.695,14.880 9.461,15.822 Z"/></svg></span>
						<h4>Contact Us</h4>
						<p>+1800-124-1425 <br> +1800-124-1426</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-12">
					<div class="blog_contact_info_div wow fadeInUp" data-wow-delay="0.2s">
						<span><svg xmlns="http://www.w3.org/2000/svg" width="31px" height="24px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M30.059,19.226 C30.059,19.899 29.874,20.522 29.577,21.070 L20.105,10.236 L29.474,1.857 C29.839,2.448 30.059,3.143 30.059,3.893 L30.059,19.226 ZM15.059,12.204 L28.096,0.543 C27.561,0.243 26.959,0.060 26.309,0.060 L3.809,0.060 C3.158,0.060 2.555,0.243 2.022,0.543 L15.059,12.204 ZM18.693,11.498 L15.676,14.199 C15.499,14.356 15.279,14.435 15.059,14.435 C14.838,14.435 14.618,14.356 14.442,14.199 L11.423,11.498 L1.831,22.470 C2.406,22.839 3.080,23.060 3.809,23.060 L26.309,23.060 C27.037,23.060 27.711,22.839 28.286,22.470 L18.693,11.498 ZM0.643,1.857 C0.278,2.448 0.059,3.143 0.059,3.893 L0.059,19.226 C0.059,19.899 0.243,20.522 0.540,21.070 L10.011,10.235 L0.643,1.857 Z"/></svg></span>
						<h4>Email</h4>
						<p><a href="#">example123@mail.com</a> <br> <a href="#">blogerexample@mail.com</a></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-12">
					<div class="blog_contact_info_div wow fadeInUp" data-wow-delay="0.4s">
						<span><svg xmlns="http://www.w3.org/2000/svg" width="22px" height="30px"><path fill-rule="evenodd"  fill="rgb(255, 54, 87)" d="M11.000,0.001 C4.934,0.001 0.000,4.955 0.000,11.045 C0.000,12.633 0.324,14.150 0.962,15.553 C3.712,21.595 8.985,27.974 10.536,29.785 C10.652,29.921 10.822,29.999 11.000,29.999 C11.178,29.999 11.348,29.921 11.464,29.785 C13.014,27.975 18.287,21.596 21.038,15.553 C21.676,14.150 22.000,12.633 22.000,11.045 C21.999,4.955 17.065,0.001 11.000,0.001 ZM11.000,16.781 C7.849,16.781 5.286,14.208 5.286,11.044 C5.286,7.881 7.849,5.308 11.000,5.308 C14.150,5.308 16.713,7.881 16.713,11.044 C16.713,14.208 14.150,16.781 11.000,16.781 Z"/></svg></span>
						<h4>Address</h4>
						<p>512, Your  Street Name , Your City Name, <br> Your Country Name</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-10 col-sm-12 col-12 offset-lg-2 offset-md-1 blog_toppadder40">
					<div class="blog_contact_form_div wow fadeInUp">
						<div class="blog_main_heading_div">
							<div class="blog_heading_div">
								<h3 class="blog_bg_lightgreen">Get In Touch</h3>
							</div>
						</div>
						<div class="blog_contact_form_div_inner">
							<h4>Drop A Message</h4>
							<div class="contact_form">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-12 col-12">
										<div class="blog_form_group">
											<input type="text" id="ur_name" class="form-control" placeholder="First Name">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12 col-12">
										<div class="blog_form_group">
											<input type="text" id="ur_mail" class="form-control" placeholder="Email">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12 col-12">
										<div class="blog_form_group">
											<input type="text" id="ur_phone" class="form-control" placeholder="Phone Number">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12 col-12">
										<div class="blog_form_group">
											<input type="text" id="sub" class="form-control" placeholder="Subject">
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="blog_form_group">
											<textarea id="msg" class="form-control" placeholder="Message" rows="5"></textarea>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-12">
										<button id="send_btn" class="blog_btn blog_bg_pink">Submit</button>
										<div id="err"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="blog_map_wrapper">
		<div id="map"></div>
    </div>
    
    <!-- footer and copyright -->
    <%- include('./base/footer') %>
    <!-- end footer and copyright -->
</div>

<!--Main js file Style-->
<%- include('./base/js') %> 

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL2n_CxgMglVV1FHT0Kv2N47NCjYArfe8"
></script> 
<script src="js/gmaps.js"></script>
<script>
	jQuery(document).ready(function($) {
        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.674, lng: -73.945},
          zoom: 12,
          styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
        });
		});

</script>



<!--Main js file Style-->
</body>
</html>