<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wlog - Blog and Magazine HTML template </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Blog">
    <meta name="keywords" content="">
    <meta name="author" content="kamleshyadav">
    <meta name="MobileOptimized" content="320">
    
    <%- include('./base/css') %> 
</head>

<body>
<div id="blog_preloader_wrapper">
     <div id="blog_preloader_box">
          <div class="blog_loader">
              <div></div>
              <div></div>
          </div>
     </div>
</div>
<div class="blog_main_wrapper">
    <!-- top header -->
    <%- include('./base/top_header') %>
    <!-- end top header -->

    <!-- main_menu -->
    <%- include('./base/main_menu') %>
    <!-- end main_menu -->

    <!-- main content -->
	<div class="blog_main_wrapper blog_toppadder20 blog_bottompadder60">
		<div class="fluid-container">
			<div class="row">
				<div class="col-lg-8 col-md-10 col-sm-12 col-12 offset-lg-2 offset-md-1 blog_toppadder40">
          <div class="mb-5 blog_contact_form_div wow fadeInUp">
						<div class="blog_main_heading_div">
							<div class="blog_heading_div">
								<h3 class="blog_bg_lightgreen">Profile</h3>
							</div>
            </div>
            <div class="profile_div_content_header">
              <h3><%= page.content_header %></h3>
            </div>
            <!-- form_div_inner -->
						<div class="row blog_contact_form_div_inner">
              <!-- Flash -->
              <%- include('./base/flash_messages') %>
              <div class="profile_div_sidebar col-md-3 col-sm-2">
                <div class="profile_div_sidebar_upper">
                  <div class="profile_avatar">
                    <img src="/static/images/logo.png" alt="..." class="mx-auto d-block">
                  </div>
                  <div class="form-inline upload-profile-avatar">
                    <form action="#" class="mx-auto">
                      <button class="btn btn-info"><i class="fa fa-cloud-upload" aria-hidden="true"></i>Upload</button>                    
                    </form>
                  </div>
                </div>
                <div class="profile_div_sidebar_lower">
                  <ul>
                    <li><a href="/profile">Information</a></li>
                    <li><a href="">Dashboard</a></li>
                    <li><a href="">Articles</a></li>
                    <li><a href="">Change password</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </div>
              </div>
              <div class="profile_div_content_container col-md-9 col-sm-10">
                <!-- profile content -->
                <div class="profile_div_content">
                  <% if (page.profile_content === 'information') { %> 
                    <%- include('./profile/information') %> 
                    <% } %>
                </div>
                <!-- end profile content -->
              </div>
            </div>
            <!-- end form_div_inner -->
          </div>
        </div>
      </div>
		</div>
  </div>
    <!-- end main content -->
    
    <!-- footer and copyright -->
    <%- include('./base/footer') %>
    <!-- end footer and copyright -->
</div>

<%- include('./base/js') %> 
</body>
</html>