<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('./category_head.ejs') %>
    <!-- Additional -->
    <link href="/admin/static/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
  </head>

    <body data-sidebar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">

          <%- include('../base/topbar') %>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <%- include('../base/left-sidebar') %>
                </div>
            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">
                                        <a href="/admin/categories" class="btn btn-dark">
                                            <i class="mdi mdi-keyboard-backspace"></i>
                                        </a>
                                    </h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Category</a></li>
                                            <li class="breadcrumb-item"><a href="/admin/categories">List</a></li>
                                            <li class="breadcrumb-item active">Add</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title -->
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <% if(messages.addSuccess) { %>
                                            <div class="alert alert-success" role="alert">
                                                <%= messages.addSuccess %> 
                                            </div>
                                        <% } else if (messages.addFail) { %>
                                            <div class="alert alert-danger" role="alert">
                                                <%= messages.addFail %> 
                                            </div>
                                        <% } %> 
                                        
                                        <h4 class="header-title">Create Form</h4>
                                        <p class="card-title-desc">Submit the <code>Create</code> button to add a new category.</p>
                                            <form action="/admin/categories/add"  method="POST" class="needs-validation" novalidate>
                                            <div class="form-group row">
                                                <label for="name" class="col-md-2 col-form-label">Name</label>
                                                <div class="col-md-10">
                                                    <% if (typeof errors !== 'undefined') { %>
                                                        <% errors.forEach( (error) => { %>
                                                            <% if (error.param === 'name') { %> 
                                                                <input type="text" class="form-control is-invalid" value="<%= error.value %>" name="name" id="name" placeholder="Enter name for category" required>
                                                                <div class="invalid-feedback">
                                                                    <%= error.msg %>
                                                                </div>
                                                            <% } %> 
                                                        <% }) %>
                                                    <% } %> 

                                                    <% if (typeof validInput !== 'undefined' && typeof validInput.name !== 'undefined') { %>
                                                        <input type="text" class="form-control is-valid" name="name" id="name" value="<%= validInput.name %>" placeholder="Enter name for category" required>
                                                    <% } %> 

                                                    <% if (typeof errors === 'undefined' && typeof validInput === 'undefined') { %> 
                                                        <input type="text" class="form-control" name="name" id="name"  placeholder="Enter name for category" required>
                                                    <% } %> 
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="display_order" class="col-md-2 col-form-label">Display Order</label>
                                                <div class="col-md-2">
                                                    <% if (typeof errors !== 'undefined') { %>
                                                        <% errors.forEach( (error) => { %>         
                                                            <% if (error.param === 'display_order') { %> 
                                                                <input class="form-control is-invalid" value="<%= error.display_order %>" 
                                                                    data-toggle="touchspin" type="text" name="display_order" id="display_order" required >
                                                                <div class="invalid-feedback">
                                                                    <%= error.msg %>
                                                                </div>
                                                            <% } %> 
                                                        <% }) %>
                                                    <% } %> 
                                                    
                                                    <% if (typeof validInput !== 'undefined' && typeof validInput.display_order !== 'undefined') { %>
                                                        <input class="form-control is-valid" value="<%= validInput.display_order %>" 
                                                            data-toggle="touchspin" type="text" name="display_order" id="display_order" required >
                                                    <% } %> 

                                                    <% if (typeof validInput === 'undefined' && typeof errors === 'undefined') { %>
                                                        <input data-toggle="touchspin" value="0" type="text" name="display_order" id="display_order" required >
                                                    <% } %> 
                                                </div>
                                            </div>
                                            <div class="row mb-0">
                                                <div class="col-lg-12">
                                                    <div class="text-right">
                                                        <button type="submit" class="btn btn-primary">CREATE</button> 
                                                    </div>
                                                </div>
                                            </div>
                                    </form>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
        <!-- footer -->
        <%- include('../base/footer') %>
        <!-- end footer -->
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        <%- include('../base/right-sidebar') %>
        <!-- /Right-bar -->

    <!-- script -->
    <%- include('../base/js') %>
    <script src="/admin/static/assets/libs/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="/admin/static/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/admin/static/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/admin/static/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    
    <!-- form advanced init -->
    <script src="/admin/static/assets/js/pages/form-advanced.init.js"></script>
    <script src="/admin/static/assets/libs/parsleyjs/parsley.min.js"></script>
    <script src="/admin/static/assets/js/pages/form-validation.init.js"></script>
  </body>
</html>
