<h6 class="header-title"></h6>
<p class="card-title-desc">
  <a href="/admin/categories/add" class="btn btn-success waves-effect waves-light mr-2">
    <i class="mdi mdi-plus-box-multiple-outline"></i> ADD NEW
  </a>
</p>
<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap "
  style="border-collapse: collapse; border-spacing: 0; width: 100%;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Display order</th>
      <th>Created at</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>


  <tbody>
    <% if (categories) { %>
    <% categories.forEach((category) => { %>
    <tr>
      <td id="<%= category.name %>"><%= category.name %></td>
      <td><%= category.displayOrder %></td>
      <td><%= category.createdAt.toDateString() %></td>
      <% if(category.status === 'Deactivated') { %>
      <td class="d-flex justify-content-around">
        <span id="deactivated_status_btn" class="btn btn-secondary text-light">
          <%= category.status %>
        </span>
      </td>
      <td class="text-center ">
        <div class="btn-group dropdown dropright">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="mdi mdi-chevron-down"></i>
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form action="/admin/categories/activate" class="d-inline" method="POST">
              <input type="hidden" name="id" value="<%= category.id %>">
              <button class="btn btn-success text-light sa-warning-activate" type="button" role="button"
                data-toggle="tooltip" data-placement="top" title="Activate" data-original-title="Activate">
                <i class="mdi mdi-lock-open-variant-outline"></i>
              </button>
            </form>
            <% } else if (category.status === 'Activated') { %>
      <td class="d-flex justify-content-around">
        <span id="activated_status_btn" class="btn bg-success text-light">
          <%= category.status %>
        </span>
      </td>
      <td class="text-center">
        <div class="btn-group dropdown dropright">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="mdi mdi-chevron-down"></i>
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form action="/admin/categories/deactivate" class="d-inline" method="POST">
              <input type="hidden" name="id" value="<%= category.id %>">
              <button class="btn btn-secondary text-light sa-warning-deactivate" type="button" role="button"
                data-toggle="tooltip" data-placement="top" title="Deactivate" data-original-title="Deactivate">
                <i class="mdi mdi-block-helper"></i>
              </button>
            </form>
            <% } %>
            <a class=" btn btn-info text-light" href="/admin/categories/update/<%= category.id %>" role="button"
              data-toggle="tooltip" data-placement="top" title="Update" data-original-title="Update">
              <i class="mdi mdi-pencil-outline"></i>
            </a>

            <form action="/admin/categories/delete" class="d-inline" method="POST">
              <input type="hidden" name="id" value="<%= category.id %>">
              <button class=" btn btn-danger text-light sa-warning-delete" type="button" role="button" data-toggle="tooltip"
                data-placement="top" title="Delete" data-original-title="Delete">
                <i class="mdi mdi-delete-alert"></i>
              </button>
            </form>
          </div>
        </div>
      </td>
    </tr>
    <% }) %>
    <% } %>
  </tbody>
</table>