<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wlog - Blog and Magazine HTML template </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Blog">
    <meta name="keywords" content="">
    <meta name="author" content="kamleshyadav">
    <meta name="MobileOptimized" content="320">
    
    <%- include('../base/css') %> 
</head>

<body>
<div id="blog_preloader_wrapper">
     <div id="blog_preloader_box">
          <div class="blog_loader">
              <div></div>
              <div></div>
          </div>
     </div>
</div>
<div class="blog_main_wrapper">
    <!-- top header -->
    <%- include('../base/top_header') %>
    <!-- end top header -->

    <!-- main_menu -->
    <%- include('../base/main_menu') %>
    <!-- end main_menu -->

    <!-- main content -->
	<div class="blog_main_wrapper blog_toppadder20 blog_bottompadder60">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 col-sm-12 col-12 offset-lg-2 offset-md-1 blog_toppadder40">
                    <div class="blog_contact_form_div wow fadeInUp">
						<div class="blog_main_heading_div">
							<div class="blog_heading_div">
								<h3 class="blog_bg_lightgreen">Log In</h3>
							</div>
						</div>
					<form action="/login" method="POST">
						<div class="blog_contact_form_div_inner">
							<!-- <h4>Drop A Message</h4> -->
							<div class="contact_form ">
								<div class="form-group row">
                                    <label for="email" class="col-sm-2 offset-lg-1 col-form-label">Email</label>
									<div class="col-lg-7 col-md-9 col-sm-12 col-12">
										<div class="blog_form_group">
											<input type="text" id="email" name="email" class="form-control" placeholder="Enter email" value="ryan_chan22@yahoo.com">
										</div>
                                    </div>
								</div>
								<div class="form-group row">
                                    <label for="password" class="col-sm-2  offset-lg-1 col-form-label">Password</label>
									<div class="col-lg-7 col-md-9 col-sm-12 col-12">
										<div class="blog_form_group">
											<input type="password" id="password" name="password" class="form-control" placeholder="Password" value="1234aA">
										</div>
                                    </div>
								</div>
								<div class="form-group row">
									<div class="col-lg-2 offset-lg-1"></div>
									<div class="col-lg-8 col-md-12 col-sm-12 col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" value="true" type="checkbox" id="remember_me" name="remember_me">
                                            <label class="form-check-label" for="remember_me">
                                            Remember me
                                            </label>
                                        </div>
                                    </div>
								</div>
								<% if (messages.error) { %>
									<div class="form-group mt-4 mb-2" >
										<div class="alert alert-danger mb-0" style="font-size: 100%;">
											<%= messages.error %>
										</div>
									</div>
								<% } %>
								<div class="form-group row">
									<div class="col-lg-2 offset-lg-2"></div>
									<div class="col-lg-8 col-md-12 col-sm-12 col-12">
										<button id="login_btn" class="blog_btn blog_bg_pink">Login</button>
									</div>
								</div>
							</div>
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>
    </div>
    <!-- end main content -->
    
    <!-- footer and copyright -->
    <%- include('../base/footer') %>
    <!-- end footer and copyright -->
</div>

<%- include('../base/js') %> 
</body>
</html>