<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wlog - Blog and Magazine HTML template </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Blog">
    <meta name="keywords" content="">
    <meta name="author" content="kamleshyadav">
    <meta name="MobileOptimized" content="320">
    
    <%- include('../base/css') %> 
</head>

<body>
<div id="blog_preloader_wrapper">
     <div id="blog_preloader_box">
          <div class="blog_loader">
              <div></div>
              <div></div>
          </div>
     </div>
</div>
<div class="blog_main_wrapper">
    <!-- top header -->
    <%- include('../base/top_header') %>
    <!-- end top header -->

    <!-- main_menu -->
    <%- include('../base/main_menu') %>
    <!-- end main_menu -->

    <!-- main content -->
	<div class="blog_main_wrapper blog_toppadder20 blog_bottompadder60">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 col-sm-12 col-12 offset-lg-2 offset-md-1 blog_toppadder40">
                    <div class="blog_contact_form_div wow fadeInUp">
						<div class="blog_main_heading_div">
							<div class="blog_heading_div">
								<h3 class="blog_bg_lightgreen">Sign Up</h3>
							</div>
						</div>
						<div class="blog_contact_form_div_inner">
                            <form action="/signup" method="POST" >
							<!-- <h4>Drop A Message</h4> -->
							<div class="contact_form ">
								<div class="form-group row">
                                    <label for="username" class="col-sm-2 col-lg-3 offset-lg-1 col-form-label">Username</label>
									<div class="col-lg-7 col-md-9 col-sm-12 col-12">
										<div class="blog_form_group">
                                            <% if (typeof errors === 'undefined' && validInput === 'undefined') { %> 
                                                <input type="text" id="username" name="username" class="form-control" placeholder="Enter username">
                                            <% } %> 

                                            <% if (typeof validInput !== 'undefined' && typeof validInput.username !== 'undefined') { %> 
                                                <input type="text" value="<%= validInput.username %> " id="username" name="username" class="form-control" placeholder="Enter username">
                                            <% } %> 
                                            

                                            <% if (typeof errors !== 'undefined') { %> 
                                                <% errors.forEach( (error) =>  { %> 
                                                    <% if(error.param === 'username') { %> 
                                            <div class="invalid-input">
                                                <p><%= error.msg %> </p>
                                            </div>
                                                    <% } %> 
                                                <% }) %> 
                                            <% } %>  

                                        </div>
                                    </div>
								</div>
								<div class="form-group row">
                                    <label for="email" class="col-sm-2 col-lg-3 offset-lg-1 col-form-label">Email</label>
									<div class="col-lg-7 col-md-9 col-sm-12 col-12">
										<div class="blog_form_group">
                                            <% if (typeof errors === 'undefined' && validInput === 'undefined') { %> 
                                                <input type="text" id="email" name="email" class="form-control" placeholder="Enter email">
                                            <% } %> 

                                            <% if (typeof validInput !== 'undefined' && typeof validInput.email !== 'undefined') { %> 
                                                <input type="text" value="<%= validInput.email %>" id="email" name="email" class="form-control" placeholder="Enter email">
                                            <% } %> 
                                            
                                            
                                            <% if (typeof errors !== 'undefined') { %> 
                                                <% errors.forEach( (error) =>  { %> 
                                                    <% if(error.param === 'email') { %> 
                                            <div class="invalid-input">
                                                <p><%= error.msg %> </p>
                                            </div>
                                                    <% } %> 
                                                <% }) %> 
                                            <% } %> 
										</div>
                                    </div>
								</div>
								<div class="form-group row">
                                    <label for="password" class="col-sm-2 col-lg-3 offset-lg-1 col-form-label">Password</label>
									<div class="col-lg-7 col-md-9 col-sm-12 col-12">
										<div class="blog_form_group">
                                            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                                        
                                            <% if (typeof errors !== 'undefined') { %> 
                                                <% errors.forEach( (error) =>  { %> 
                                                    <% if(error.param === 'password') { %> 
                                            <div class="invalid-input">
                                                <p><%= error.msg %> </p>
                                            </div>
                                                    <% } %> 
                                                <% }) %> 
                                            <% } %> 
										</div>
                                    </div>
								</div>
								<div class="form-group row">
                                    <label for="confirm_password" class="col-sm-2 col-lg-3 offset-lg-1 col-form-label">Confirm Password</label>
									<div class="col-lg-7 col-md-9 col-sm-12 col-12">
										<div class="blog_form_group">
                                            <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm Password">
                                            
                                            <% if (typeof errors !== 'undefined') { %> 
                                                <% errors.forEach( (error) =>  { %> 
                                                    <% if(error.param === 'confirm_password') { %> 
                                            <div class="invalid-input">
                                                <p><%= error.msg %> </p>
                                            </div>
                                                    <% } %> 
                                                <% }) %> 
                                            <% } %> 
										</div>
                                    </div>
								</div>
								<div class="form-group row">
                                    <button id="login_btn" class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12 blog_btn blog_bg_pink">Sign up</button>
                                </div>
                            </form>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <!-- end main content -->
    
    <!-- footer and copyright -->
    <%- include('../base/footer') %>
    <!-- end footer and copyright -->
</div>

<%- include('../base/js') %> 
</body>
</html>