<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wlog - Blog and Magazine HTML template </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Blog">
    <meta name="keywords" content="">
    <meta name="author" content="kamleshyadav">
    <meta name="MobileOptimized" content="320">
    
    <%- include('../base/css') %> 
</head>

<body>
<div id="blog_preloader_wrapper">
     <div id="blog_preloader_box">
          <div class="blog_loader">
              <div></div>
              <div></div>
          </div>
     </div>
</div>
<div class="blog_main_wrapper">
    <!-- top header -->
    <%- include('../base/top_header') %>
    <!-- end top header -->

    <!-- main_menu -->
    <%- include('../base/main_menu') %>
    <!-- end main_menu -->

    <!-- main content -->
	<div class="blog_main_wrapper blog_toppadder20 blog_bottompadder60">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 col-sm-12 col-12 offset-lg-2 offset-md-1 blog_toppadder40">
                    <div class="mb-5 blog_contact_form_div wow fadeInUp">
						<div class="blog_main_heading_div">
							<div class="blog_heading_div">
								<h3 class="blog_bg_lightgreen">Verify account</h3>
							</div>
						</div>
						<div class="blog_contact_form_div_inner">
                            <%- include('../base/flash_messages') %> 
                            
                            <% if(messages.verifySuccess) { %>
                                <div class="contact_form ">
                                    <a href="/login" id="verify_to_login_btn" 
                                    class="text-center col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12 blog_btn blog_bg_pink"
                                    >Log in here</a>
                                </div>
                            <% } else if (messages.verifyFail) { %>
                                <div class="contact_form ">
                                    <form action="/send_verification/" class="form-group row mb-5" method="POST">
                                        <div class="col-lg-10 col-md-9 col-sm-12 col-12 offset-lg-1">
                                            <% if (typeof errors === 'undefined' && typeof validInput === 'undefined') { %> 
                                                <div class="blog_form_group my-3">
                                                <input type="text" id="email" name="email" class="form-control" placeholder="Enter your email account">
                                                </div> 
                                            <% } %> 

                                            <% if (typeof validInput !== 'undefined' && typeof validInput.email !== 'undefined') { %> 
                                                <div class="blog_form_group my-3"></div>
                                                <input type="text" value="<%= validInput.email %>" id="email" name="email" class="form-control" placeholder="Enter your email account">
                                                </div>
                                            <% } %> 

                                            <% if (typeof errors !== 'undefined') { %> 
                                                <% errors.forEach( (error) =>  { %> 
                                                    <% if(error.param === 'email') { %> 
                                                        <div class="blog_form_group my-3">
                                                            <input type="text" value="<%= error.value %>" id="email" name="email" class="form-control" placeholder="Enter email">
                                                        </div>
                                                        <div class="invalid-input">
                                                            <p><%= error.msg %> </p>
                                                        </div>
                                                    <% } %> 
                                                <% }) %> 
                                            <% } %> 
                                        </div>
                                        <button type="submit" id="login_btn" 
                                        class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12 blog_btn btn-primary"
                                        >Send verification email</button>
                                    </form>
                                </div>
                            <% } %> 
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <!-- end main content -->
    
    <!-- footer and copyright -->
    <%- include('../base/footer') %>
    <!-- end footer and copyright -->
</div>

<%- include('../base/js') %> 
</body>
</html>