<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Wlog - Blog and Magazine HTML template </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Blog">
    <meta name="keywords" content="">
    <meta name="author" content="kamleshyadav">
    <meta name="MobileOptimized" content="320">
    
    <%- include('./base/css') %> 
</head>
<body class="homepage2">
<div id="blog_preloader_wrapper">
     <div id="blog_preloader_box">
          <div class="blog_loader">
              <div></div>
              <div></div>
          </div>
     </div>
</div>
<div class="blog_main_wrapper">
    <!-- top header -->
    <%- include('./base/top_header') %>
    <!-- end top header -->

    <!-- main_menu -->
    <%- include('./base/main_menu') %>
    <!-- end main_menu -->
    
    <div class="blog_main_wrapper blog_toppadder60 blog_bottompadder60">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="blog_innerpages blog_terms_div">
						<div class="blog_heading_style2 text-left">
							<h3>Introduction</h3>
						</div>
						<ol>
							<li> <b>Where does it come from?</b>
								<ol class="sublevel">
									<li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
									<li>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero</li>
									<li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
									<li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</li>
									<li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
								</ol>
							</li>
							<li> <b>Why do we use it?</b>
								<ol class="sublevel">
									<li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
									<li>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero</li>
									<li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
								</ol>
							</li>
						</ol>
						<div class="blog_heading_style2 text-left">
							<h3>Compared to What</h3>
						</div>
						<ol>
							<li> <b>Where does it come from?</b>
								<ol class="sublevel">
									<li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
									<li>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero</li>
									<li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
									<li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</li>
									<li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
								</ol>
							</li>
							<li> <b>Why do we use it?</b>
								<ol class="sublevel">
									<li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
									<li>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero</li>
									<li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
								</ol>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
    
    <!-- footer and copyright -->
    <%- include('./base/footer') %>
    <!-- end footer and copyright -->
</div>

<!--Main js file Style-->
<%- include('./base/js') %> 
<!--Main js file Style-->
</body>
</html>