<h4 class="header-title">Update Form</h4>
<p class="card-title-desc">Submit the <code>SAVE</code> button to make changes.</p>

<form action="/admin/menu/update/<%= menu._id %>" method="POST" class="needs-validation" novalidate>
  <div class="form-group row">
    <label for="username" class="col-md-2 col-form-label">Name</label>
    <div class="col-md-10">
      <% if (typeof errors !== 'undefined') { %>
      <% errors.forEach( (error) => { %>
      <% if (error.param === 'name') { %>
      <input type="text" class="form-control is-invalid" value="<%= error.value %>" name="name" id="name"
        placeholder="Enter name for the menu" required>
      <div class="invalid-feedback">
        <%= error.msg %>
      </div>
      <% } %>
      <% }) %>
      <% } %>

      <% if (typeof validInput !== 'undefined' && typeof validInput.name !== 'undefined') { %>
      <input type="text" class="form-control is-valid" name="name" id="name" value="<%= validInput.name %>"
        placeholder="Enter name for the menu" required>
      <% } %>

      <% if (typeof errors === 'undefined' && typeof validInput === 'undefined') { %>
      <input type="text" class="form-control" name="name" id="name" value="<%= menu.name %>"
        placeholder="Enter name for the menu" required>
      <% } %>
    </div>
  </div>
  <div class="form-group row">
    <label for="display_order" class="col-md-2 col-form-label">Display Order</label>
    <div class="col-md-2">
      <% if (typeof errors !== 'undefined') { %>
      <% errors.forEach( (error) => { %>
      <% if (error.param === 'display_order') { %>
      <input class="form-control is-invalid" value="<%= error.display_order %>" data-toggle="touchspin" type="text"
        name="display_order" id="display_order" required>
      <div class="invalid-feedback">
        <%= error.msg %>
      </div>
      <% } %>
      <% }) %>
      <% } %>

      <% if (typeof validInput !== 'undefined' && typeof validInput.display_order !== 'undefined') { %>
      <input class="form-control is-valid" value="<%= validInput.display_order %>" data-toggle="touchspin" type="text"
        name="display_order" id="display_order" required>
      <% } %>

      <% if (typeof validInput === 'undefined' && typeof errors === 'undefined') { %>
      <input data-toggle="touchspin" value="<%= menu.display_order %>" type="text" name="display_order"
        id="display_order" required>
      <% } %>
    </div>
  </div>

  <div class="form-group row">
    <label for="status" class="col-md-2 col-form-label">Status</label>
    <div class="col-md-10">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <% if (menu) { %>
        <%  if (menu.status === 'Activated') { %>
        <label class="btn btn-success active">
          <input type="radio" name="options" id="activated_status_btn" checked="" value="<%= menu.status %>"
            disabled><i class="mdi mdi-check-circle"></i>
          <%= menu.status %>
        </label>
        <% }else if(menu.status === 'Deactivated') { %>
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="deactivated_status_btn" checked="" value="<%= menu.status %>"
            disabled><i class="mdi mdi-block-helper"></i>
          <%= menu.status %>
        </label>
        <% } %>
        <% } %>
      </div>
    </div>
  </div>
  <div class="row mb-0">
    <div class="col-lg-12">
      <div class="text-right">
        <button type="submit" class="btn btn-primary">SAVE</button>
      </div>
    </div>
  </div>
</form>