<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../base/head.ejs') %>
  <!-- DataTables -->
  <link href="/admin/static/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet"
    type="text/css" />
  <link href="/admin/static/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet"
    type="text/css" />

  <!-- Responsive datatable examples -->
  <link href="/admin/static/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
    rel="stylesheet" type="text/css" />

  <!-- Sweet Alert-->
  <link href="/admin/static/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
</head>

<body data-sidebar="dark">

  <!-- Begin page -->
  <div id="layout-wrapper">

    <%- include('../base/topbar') %>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">

      <div data-simplebar class="h-100">

        <%- include('../base/left-sidebar') %>
      </div>
    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

      <div class="page-content">
        <div class="container-fluid">

          <!-- start page title -->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box d-flex align-items-center justify-content-between">
                
                  <% if (content === 'audience_list') { %> 
                    <h4 class="mb-0 font-size-18"></h4>
                    <% } else { %>
                      <h4 class="mb-0 font-size-18">
                        <a href="/admin/audiences" class="btn btn-dark">
                          <i class="mdi mdi-keyboard-backspace"></i>
                        </a>
                      </h4>
                      <% } %> 
                  <h4 class="mb-0 font-size-18"><%= header %></h4>
  
                <div class="page-title-right">
                  <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Account</a></li>
                    <li class="breadcrumb-item active"><%= content %></li>
                  </ol>
                </div>

              </div>
            </div>
          </div>
          <!-- end page title -->

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <!-- Flash messages -->
                  <%- include('../base/flash_messages.ejs') %>
                  <!-- End Flash messages -->

                  <%# content %>
                  <% if (content === 'audience_list') { %>
                  <%- include('../audience/audience_list.ejs') %>
                  <% } %>
                  <%# end content %>
                </div>
              </div>
            </div> <!-- end col -->
          </div> <!-- end row -->
        </div> <!-- container-fluid -->
      </div>
      <!-- End Page-content -->

      <!-- footer -->
      <%- include('../base/footer') %>
      <!-- end footer -->
    </div>
    <!-- end main content-->

  </div>
  <!-- END layout-wrapper -->

  <!-- Right Sidebar -->
  <%- include('../base/right-sidebar') %>
  <!-- /Right-bar -->

  <!-- script -->
  <%- include('../base/js') %>

  <!-- Required datatable js -->
  <script src="/admin/static/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/admin/static/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <!-- Buttons examples -->
  <script src="/admin/static/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/admin/static/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
  <script src="/admin/static/assets/libs/jszip/jszip.min.js"></script>
  <script src="/admin/static/assets/libs/pdfmake/build/pdfmake.min.js"></script>
  <script src="/admin/static/assets/libs/pdfmake/build/vfs_fonts.js"></script>
  <script src="/admin/static/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/admin/static/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/admin/static/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

  <!-- Datatable init js -->
  <script src="/admin/static/assets/js/pages/datatables.init.js"></script>

  <!-- Sweet Alerts js -->
  <script src="/admin/static/assets/libs/sweetalert2/sweetalert2.min.js"></script>

  <!-- Sweet alert init js-->
  <script src="/admin/static/assets/js/pages/sweet-alerts.init.js"></script>

</body>

</html>