<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dashboard | Apaxy - Responsive Bootstrap 4 Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />

    <%- include('../base/css') %>
    <!-- DataTables -->
    <link href="/admin/static/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/static/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="/admin/static/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 
    
    <!-- Sweet Alert-->
    <link href="/admin/static/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
  </head>

    <body data-sidebar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">

          <%- include('../base/topbar') %>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <%- include('../base/left-sidebar') %>
                </div>
            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Author List</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Account</a></li>
                                            <li class="breadcrumb-item active">Authors</li>
                                        </ol>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>     
                        <!-- end page title -->
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <% if(messages.deleteSuccess) { %>
                                            <div class="alert alert-success" role="alert">
                                                <%= messages.deleteSuccess %> 
                                            </div>
                                        <% } else if (messages.deleteFail) { %>
                                            <div class="alert alert-danger" role="alert">
                                                <%= messages.deleteFail %> 
                                            </div>
                                        <% } %> 
                                        <% if(messages.resetSuccess) { %>
                                            <div class="alert alert-success" role="alert">
                                                <%= messages.resetSuccess %> 
                                            </div>
                                        <% } else if (messages.resetFail) { %>
                                            <div class="alert alert-danger" role="alert">
                                                <%= messages.resetFail %> 
                                            </div>
                                        <% } %> 

                                        <h6 class="header-title"></h6>
                                        <p class="card-title-desc">
                                                <a href="/admin/administrators/add" class="btn btn-success waves-effect waves-light mr-2">
                                                    <i class="mdi mdi-plus-box-multiple-outline"></i> ADD NEW
                                                </a>
                                        </p>
                                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Created at</th>
                                                <th>Last login</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
        
        
                                            <tbody>
                                                <% if (authors) { %>
                                                    <% authors.forEach((author) => { %>
                                                    <tr>
                                                        <td class="admin-username" id="<%= author.username %>"><%= author.username %></td>
                                                        <td><%= author.email %></td>
                                                        <td>
                                                            <% if(author.role === 'SuperAdmin') { %> 
                                                                <i class="mdi mdi-crown text-primary"></i>
                                                                <% } %> 
                                                            <%= author.role %>
                                                        </td>
                                                        <td><%= author.createdAt.toDateString() %></td>
                                                        <td><%= author.createdAt.toDateString() %></td>
                                                        <% if(author.status === 'Deactivated') { %>
                                                            <td class="d-flex justify-content-around">
                                                                <span id="deactivated_status_btn" class="btn btn-secondary text-light"  >
                                                                    <%= author.status %>
                                                                </span>
                                                            </td>
                                                            <td class="text-center">
                                                                <form action="/admin/administrators/activate/<%= author.username %>" class="d-inline" method="POST">
                                                                    <button class="btn btn-success text-light sa-warning-activate" type="button" role="button" data-toggle="tooltip" data-placement="top" title="Activate" data-original-title="Activate">
                                                                        <i class="mdi mdi-lock-open-variant-outline"></i>
                                                                    </button>
                                                                </form>
                                                        <% }else if (author.status === 'Activated') { %>
                                                            <td class="d-flex justify-content-around">
                                                                <span id="activated_status_btn" class="btn bg-success text-light">
                                                                    <%= author.status %>
                                                                </span>
                                                            </td>
                                                            <td class="text-center">
                                                                <form action="/admin/administrators/deactivate/<%= author.username %>" class="d-inline" method="POST">
                                                                    <button class="btn btn-secondary text-light sa-warning-deactivate" type="button" role="button" data-toggle="tooltip" data-placement="top" title="Deactivate" data-original-title="Deactivate">
                                                                        <i class="mdi mdi-block-helper"></i>
                                                                    </button>
                                                                </form>
                                                        <% } %>
                                                            <a class="btn btn-info text-light" href="/admin/administrators/update/<%= author.username %>"role="button" data-toggle="tooltip" data-placement="top" title="Update" data-original-title="Update">
                                                                <i class="mdi mdi-pencil-outline"></i>
                                                            </a>
                                                        <form action="/admin/administrators/reset_password" class="d-inline" method="POST">
                                                            <input type="hidden" name="id" value="<%= author.id %>">
                                                            <button class="btn btn-warning text-light sa-warning-reset-pwd" type="button" role="button" data-toggle="tooltip" data-placement="top" title="Reset password" data-original-title="Reset password">
                                                                <i class="mdi mdi-rotate-3d-variant"></i>
                                                            </button>
                                                        </form>
                                                        <form action="/admin/administrators/delete" class="d-inline" method="POST">
                                                            <input type="hidden" name="id" value="<%= author.id %>">
                                                            <button class="btn btn-danger text-light sa-warning-delete" type="button" role="button" data-toggle="tooltip" data-placement="top" title="Delete" data-original-title="Delete">
                                                                <i class="mdi mdi-delete-alert"></i>
                                                            </button>
                                                        </form>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                2019 © Apaxy.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-right d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        <%- include('../base/right-sidebar') %>
        <!-- /Right-bar -->

    <!-- script -->
    <%- include('../base/js') %>

    <!-- Required datatable js -->
    <script src="/admin/static/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/admin/static/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="/admin/static/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/admin/static/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/admin/static/assets/libs/jszip/jszip.min.js"></script>
    <script src="/admin/static/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="/admin/static/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="/admin/static/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/admin/static/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/admin/static/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

    <!-- Datatable init js -->
    <script src="/admin/static/assets/js/pages/datatables.init.js"></script>

    <!-- Sweet Alerts js -->
    <script src="/admin/static/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="/admin/static/assets/js/pages/sweet-alerts.init.js"></script>
    
  </body>
</html>
