<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dashboard | Apaxy - Responsive Bootstrap 4 Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />

    <%- include('../base/css') %>
    <link href="/admin/static/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
  </head>

    <body data-sidebar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">

          <%- include('../base/topbar') %>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <%- include('../base/left-sidebar') %>
                </div>
            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">
                                        <a href="/admin/administrators" class="btn btn-dark">
                                            <i class="mdi mdi-keyboard-backspace"></i>
                                        </a>
                                    </h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Account</a></li>
                                            <li class="breadcrumb-item"><a href="/admin/administrators">Administrators</a></li>
                                            <li class="breadcrumb-item active">Add</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title -->
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <% if(messages.addSuccess) { %>
                                            <div class="alert alert-success" role="alert">
                                                <%= messages.addSuccess %> 
                                            </div>
                                        <% } else if (messages.addFail) { %>
                                            <div class="alert alert-danger" role="alert">
                                                <%= messages.addFail %> 
                                            </div>
                                        <% } %> 
                                        
                                        <h4 class="header-title">Create Form</h4>
                                        <p class="card-title-desc">Submit the <code>Create</code> button to add a new administrator.</p>
                                            <form action="/admin/administrators/add"  method="POST" class="needs-validation" novalidate>
                                            <div class="form-group row">
                                                <label for="username" class="col-md-2 col-form-label">Username</label>
                                                <div class="col-md-10">
                                                    <% if (typeof errors !== 'undefined') { %>
                                                        <% errors.forEach( (error) => { %>
                                                            <% if (error.param === 'username') { %> 
                                                                <input type="text" class="form-control is-invalid" value="<%= error.value %>" name="username" id="username" placeholder="Enter Username" required>
                                                                <div class="invalid-feedback">
                                                                    <%= error.msg %>
                                                                </div>
                                                            <% } %> 
                                                        <% }) %>
                                                    <% } %> 

                                                    <% if (typeof validInput !== 'undefined' && typeof validInput.username !== 'undefined') { %>
                                                        <input type="text" class="form-control is-valid" name="username" id="username" value="<%= validInput.username %>" placeholder="Enter Username" required>
                                                    <% } %> 

                                                    <% if (typeof errors === 'undefined' && typeof validInput === 'undefined') { %> 
                                                        <input type="text" class="form-control" name="username" id="username"  placeholder="Enter Username" required>
                                                    <% } %> 
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="email" class="col-md-2 col-form-label">Email</label>
                                                <div class="col-md-10">

                                                    <% if (typeof errors !== 'undefined') { %>
                                                        <% errors.forEach( (error) => { %>         
                                                            <% if (error.param === 'email') { %> 
                                                                <input type="email" class="form-control is-invalid" name="email" id="email" value="<%= error.value %>"  placeholder="Enter Email" required>
                                                                <div class="invalid-feedback">
                                                                    <%= error.msg %>
                                                                </div>
                                                            <% } %> 
                                                        <% }) %>
                                                    <% } %> 
                                                    
                                                    <% if (typeof validInput !== 'undefined' && typeof validInput.email !== 'undefined') { %>
                                                        <input type="text" class="form-control is-valid" name="email" id="email" value="<%= validInput.email %>" placeholder="Enter Email" required>    
                                                    <% } %> 

                                                    <% if (typeof validInput === 'undefined' && typeof errors === 'undefined') { %>
                                                        <input type="text" class="form-control" name="email" id="email"  placeholder="Enter Email" required>
                                                    <% } %> 
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-password-input" class="col-md-2 col-form-label">Password</label>
                                                <div class="col-md-10">
                                                
                                                <% if (typeof errors !== 'undefined') { %>
                                                    <% errors.forEach( (error) => { %>         
                                                        <% if (error.param === 'password') { %> 
                                                            <input type="password" class="form-control is-invalid" name="password" id="password" value="<%= error.value %>" placeholder="Enter Password" >
                                                            <div class="invalid-feedback">
                                                                <%= error.msg %>
                                                            </div>
                                                            <% } %> 
                                                        <% }) %>
                                                <% } %> 

                                                <% if (typeof validInput !== 'undefined' && typeof validInput.password !== 'undefined') { %>
                                                    <input type="password" class="form-control is-valid" value="<%= validInput.password %>" name="password" id="password" placeholder="Enter Password" required>
                                                <% } %> 

                                                <% if (typeof validInput === 'undefined' && typeof errors === 'undefined') { %>
                                                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" required>
                                                <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label">Role</label>
                                                <div class="col-md-10">
                                                    <% if (typeof errors !== 'undefined') { %>
                                                        <% errors.forEach( (error) => { %>         
                                                            <% if (error.param === 'role') { %> 
                                                                <select class="custom-select is-invalid" name="role">
                                                                    <option selected value="">Choose a role</option>
                                                                    <option  value="SuperAdmin">SuperAdmin</option>
                                                                    <option  value="Admin">Admin</option>
                                                                    <option  value="Moderator">Moderator</option>
                                                                </select>
                                                                <div class="invalid-feedback">
                                                                    <%= error.msg %>
                                                                </div>
                                                            <% } %> 
                                                        <% }) %> 
                                                    <% } %> 

                                                        <% if (typeof validInput !== 'undefined' && typeof validInput.role !== 'undefined') { %> 
                                                            <select class="custom-select is-valid" name="role">
                                                                <option value="">Choose a role</option>
                                                            <% if (validInput.role === 'SuperAdmin') { %> 
                                                                <option selected value="SuperAdmin">SuperAdmin</option>
                                                                <option value="Admin">Admin</option>
                                                                <option value="Moderator">Moderator</option>
                                                            <% } else if (validInput.role === 'Admin') { %> 
                                                                <option  value="SuperAdmin">SuperAdmin</option>
                                                                <option selected value="Admin">Admin</option>
                                                                <option value="Moderator">Moderator</option>
                                                            <% } else if (validInput.role === 'Moderator') { %> 
                                                                <option  value="SuperAdmin">SuperAdmin</option>
                                                                <option  value="Admin">Admin</option>
                                                                <option selected value="Moderator">Moderator</option>
                                                            <% } %> 
                                                            </select>
                                                        <% } %>

                                                        <% if (typeof validInput === 'undefined' && typeof errors === 'undefined') { %> 
                                                            <select class="custom-select" name="role" required>
                                                                <option value="">Choose a role</option>
                                                                <option value="SuperAdmin">SuperAdmin</option>
                                                                <option value="Admin">Admin</option>
                                                                <option value="Moderator">Moderator</option>
                                                            </select>
                                                        <% } %> 
                                                    
                                                </div>
                                            </div>
                                            <div class="row mb-0">
                                                <div class="col-lg-12">
                                                    <div class="text-right">
                                                        <button type="submit" class="btn btn-primary">CREATE</button> 
                                                    </div>
                                                </div>
                                            </div>
                                    </form>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                2019 © Apaxy.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-right d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        <%- include('../base/right-sidebar') %>
        <!-- /Right-bar -->

    <!-- script -->
    <%- include('../base/js') %>
    <script src="/admin/static/assets/libs/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="/admin/static/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/admin/static/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/admin/static/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    
    <!-- form advanced init -->
    <script src="/admin/static/assets/js/pages/form-advanced.init.js"></script>
    <script src="/admin/static/assets/libs/parsleyjs/parsley.min.js"></script>
    <script src="/admin/static/assets/js/pages/form-validation.init.js"></script>
  </body>
</html>
