<p class="card-title-desc">
  <a href="/admin/administrators/add" class="btn btn-success waves-effect waves-light mr-2">
    <i class="mdi mdi-plus-box-multiple-outline"></i> ADD NEW
  </a>
</p>
<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap "
  style="border-collapse: collapse; border-spacing: 0; width: 100%;">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>Created at</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>


  <tbody>
    <% if (administrators) { %>
    <% administrators.forEach((admin) => { %>
    <tr>
      <td class="admin-username" id="<%= admin.username %>"><%= admin.username %></td>
      <td><%= admin.email %></td>
      <td>
        <% if(admin.role === 'SuperAdmin') { %>
        <i class="mdi mdi-crown text-primary text-warning"></i>
        <% } else if(admin.role === 'Admin') { %>
        <i class="mdi mdi-shield-star-outline text-primary"></i>
        <% } %>
        <%= admin.role %>
      </td>
      <td><%= admin.createdAt.toLocaleDateString('en-US',{month: '2-digit', day: '2-digit', year: 'numeric'}) %></td>
      <% if(admin.status === 'Deactivated') { %>
      <td class="d-flex justify-content-around">
        <span id="deactivated_status_btn" class="btn btn-secondary text-light">
          <%= admin.status %>
        </span>
      </td>
      <td class="text-center">
        <div class="btn-group dropdown dropright">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="mdi mdi-chevron-down"></i>
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form action="/admin/administrators/activate" class="d-inline" method="POST">
              <input type="hidden" name="id" value="<%= admin.id %>">
              <button class="btn btn-success text-light sa-warning-activate" type="button" role="button"
                data-toggle="tooltip" data-placement="top" title="Activate" data-original-title="Activate">
                <i class="mdi mdi-lock-open-variant-outline"></i>
              </button>
            </form>
            <% }else if (admin.status === 'Activated') { %>
      <td class="d-flex justify-content-around">
        <span id="activated_status_btn" class="btn bg-success text-light">
          <%= admin.status %>
        </span>
      </td>
      <td class="text-center">
        <div class="btn-group dropdown dropright">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="mdi mdi-chevron-down"></i>
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form action="/admin/administrators/deactivate" class="d-inline" method="POST">
              <input type="hidden" name="id" value="<%= admin.id %>">
              <button  class="btn btn-secondary text-light sa-warning-deactivate" type="button" role="button"
                data-toggle="tooltip" data-placement="top" title="Deactivate" data-original-title="Deactivate">
                <i class="mdi mdi-block-helper"></i>
              </button>
            </form>
            <% } %>
            <a class="btn btn-info text-light" href="/admin/administrators/update/<%= admin.username %>" role="button"
              data-toggle="tooltip" data-placement="top" title="Update" data-original-title="Update">
              <i class="mdi mdi-pencil-outline"></i>
            </a>
            <form action="/admin/administrators/reset_password" class="d-inline" method="POST">
              <input type="hidden" name="id" value="<%= admin.id %>">
              <button class="btn btn-warning text-light sa-warning-reset-pwd" type="button" role="button"
                data-toggle="tooltip" data-placement="top" title="Reset password" data-original-title="Reset password">
                <i class="mdi mdi-rotate-3d-variant"></i>
              </button>
            </form>
            <form action="/admin/administrators/delete" class="d-inline" method="POST">
              <input type="hidden" name="id" value="<%= admin.id %>">
              <button class="btn btn-danger text-light sa-warning-delete" type="button" role="button"
                data-toggle="tooltip" data-placement="top" title="Delete" data-original-title="Delete">
                <i class="mdi mdi-delete-alert"></i>
              </button>
            </form>
          </div>
        </div>
      </td>
    </tr>
    <% }) %>
    <% } %>
  </tbody>
</table>