<div class="blog_sidebar">
    <div class="widget widget_social wow fadeInUp">
        <div class="blog_main_heading_div">
            <div class="blog_heading_div">
                <h3 class="blog_bg_pink">CONNECT</h3>
            </div>
        </div>
        <ul>
            <li>
                <div class="widget_social_link">
                    <i class="fa fa-facebook"></i>
                    <h2>62.5K</h2>
                    <p>Followers</p>
                </div>
            </li>
            <li>
                <div class="widget_social_link">
                    <i class="fa fa-twitter"></i>
                    <h2>62K</h2>
                    <p>Followers</p>
                </div>
            </li>
            <li>
                <div class="widget_social_link">
                    <i class="fa fa-youtube-play"></i>
                    <h2>45K</h2>
                    <p>Followers</p>
                </div>
            </li>
            <li>
                <div class="widget_social_link">
                    <i class="fa fa-instagram"></i>
                    <h2>62.5K</h2>
                    <p>Followers</p>
                </div>
            </li>
            <li>
                <div class="widget_social_link">
                    <i class="fa fa-pinterest-p"></i>
                    <h2>62K</h2>
                    <p>Followers</p>
                </div>
            </li>
            <li>
                <div class="widget_social_link">
                    <i class="fa fa-rss"></i>
                    <h2>45K</h2>
                    <p>Followers</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="widget widget_recent_post wow fadeInUp">
        <div class="blog_main_heading_div">
            <div class="blog_heading_div">
                <h3 class="blog_bg_orange">What’s hot</h3>
            </div>
        </div>
        <ul>
            <% if (popularArticles.length > 0) { %> 
            <% for (let i =0; i < popularArticles.length; i++) { %> 
            <li>
                <div class="blog_recent_post">
                    <div class="blog_recent_post_img">
                        <img src="/thumbnail/<%= popularArticles[i].thumbnail_img.filename %> " class="img-fluid" alt="">
                    </div>
                    <div class="blog_recent_post_content">
                        <h4><a href="/article?id=<%= popularArticles[i]._id %>"><%- popularArticles[i].title %> </a></h4>
                        <p><%= popularArticles[i].createdAt.toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: '2-digit'}) %>  
                            <a href="/category?id=<%= popularArticles[i].categoryId._id %>">- <%= popularArticles[i].categoryId.name %> </a></p>
                    </div>
                </div>
            </li>
            <% } %> 
            <% } %> 
        </ul>
    </div>


    <div class="widget widget_categories wow fadeInUp">
        <div class="blog_main_heading_div">
            <div class="blog_heading_div">
                <h3 class="blog_bg_lightgreen">categories</h3>
            </div>
        </div>
        <ul>
            <% if (typeof categoryWithPostCounted !== 'undefined' && categoryWithPostCounted.length > 0 ) { %> 
            <% for(let i = 0; i < categoryWithPostCounted.length; i++) { %>
                <li>
                    <a href="/category?id=<%= categoryWithPostCounted[i]._id %>">
                        <%= categoryWithPostCounted[i].name %><span>(<%= categoryWithPostCounted[i].numOfArticles %>)</span>
                    </a>
                </li>
            <% } %> 
            <% } %> 
        </ul>
    </div>


    <div class="widget widget_newsletter wow fadeInUp">
        <div class="blog_main_heading_div">
            <div class="blog_heading_div">
                <h3 class="blog_bg_pink">Subscribe</h3>
            </div>
        </div>
        <div class="blog_newsletter">
            <p>Enter Your Email To Get Notified.</p>
            <form class="form-inline" action="/subscribe" method="GET">
                <div class="blog_form_group">
                    <input type="text" class="form-control" name="email" id="email" placeholder=" Email Here..." required>
                </div>
                <button type="submit"  class="blog_newsletter_btn"><svg xmlns="http://www.w3.org/2000/svg" width="17px" height="16px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M16.914,0.038 C16.838,-0.030 16.731,-0.046 16.639,-0.002 L0.147,7.802 C0.058,7.844 0.001,7.934 0.000,8.034 C-0.001,8.134 0.054,8.225 0.142,8.269 L4.810,10.602 C4.895,10.645 4.997,10.635 5.074,10.577 L9.611,7.123 L6.049,10.855 C5.998,10.908 5.972,10.981 5.978,11.055 L6.333,15.760 C6.340,15.864 6.409,15.953 6.507,15.986 C6.533,15.994 6.560,15.999 6.586,15.999 C6.659,15.999 6.729,15.967 6.778,15.909 L9.256,12.986 L12.318,14.476 C12.384,14.508 12.461,14.509 12.529,14.480 C12.597,14.449 12.648,14.391 12.670,14.320 L16.989,0.310 C17.019,0.212 16.990,0.105 16.914,0.038 Z"/></svg></button>
                <button id ="sa-subscribe-success" type="button" class="d-none"></button>
            </form>
        </div>
    </div>
    <div class="ads_widget wow fadeInUp">
        <a href="#"><img src="https://via.placeholder.com/280x350?text=Ads%20Area" class="img-fluid" alt=""></a>
    </div>
</div>