
<div class="blog_banner_slider wrapper">
    <%# main recent article %> 
    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
            <%# main article render %> 
            <% for (let i =0; i < latestArticles.length; i++) { %> 
            <div class="swiper-slide">
                <div class="blog_post_slider_wrapper"> 
                    <a href="/article?id=<%= latestArticles[i]._id %>" class="blog_post_slider_img"> 
                        <img src="/thumbnail/<%= latestArticles[i].thumbnail_img.filename %>" alt="" style="width: 100%;"> 
                    </a> 
                    <div class="blog_post_slider_content"> 
                        <p>Posted On <%= latestArticles[i].createdAt.toLocaleDateString('en-US',{year: '2-digit', month: 'long', day: '2-digit'}) %><a href="#">-<%= latestArticles[i].categoryId.name %></a></p>
                        <h2><a href="/article?id=<%= latestArticles[i]._id %>"><%- latestArticles[i].title %></a></h2>
                        <div class="blog_author_data">
                            <a href="/author?id=<%= latestArticles[i].authorId._id %>">
                                <img src="/avatar/<%= latestArticles[i].authorId.profile.avatar_img.filename %>" class="img-fluid" alt="" width="34" height="34"><%= latestArticles[i].authorId.profile.fullname %>
                            </a>
                        </div> 
                        <ul class="blog_meta_tags">
                            <li><span class="blog_bg_blue">
                                <i class="fa fa-eye mr-2"></i> <%= latestArticles[i].interaction.views %></span>
                            </li> 
                            <li><span class="blog_bg_pink">
                                <i class="fa fa-comment mr-2"></i> <%= latestArticles[i].interaction.comments.length %></span>
                            </li> 
                        </ul> 
                        <h6>next story</h6>
                    </div> 
                </div>
            </div>
            <% } %> 

        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="8px" height="13px"><path fill-rule="evenodd"  fill="rgb(34, 34, 34)" d="M7.782,5.992 L1.722,0.206 C1.582,0.073 1.395,-0.001 1.196,-0.001 C0.996,-0.001 0.809,0.073 0.669,0.206 L0.223,0.633 C-0.068,0.910 -0.068,1.361 0.223,1.639 L5.311,6.496 L0.217,11.360 C0.077,11.494 -0.001,11.672 -0.001,11.863 C-0.001,12.053 0.077,12.231 0.217,12.366 L0.663,12.791 C0.804,12.925 0.991,12.999 1.190,12.999 C1.390,12.999 1.577,12.925 1.717,12.791 L7.782,7.001 C7.923,6.867 8.000,6.688 8.000,6.497 C8.000,6.305 7.923,6.126 7.782,5.992 Z"/></svg></div>
        <div class="swiper-button-prev"><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="8px" height="13px"><path fill-rule="evenodd"  fill="rgb(34, 34, 34)" d="M0.218,5.992 L6.277,0.206 C6.418,0.073 6.605,-0.001 6.804,-0.001 C7.004,-0.001 7.191,0.073 7.331,0.206 L7.777,0.633 C8.068,0.910 8.068,1.361 7.777,1.639 L2.689,6.496 L7.783,11.360 C7.923,11.494 8.000,11.672 8.000,11.863 C8.000,12.053 7.923,12.231 7.783,12.366 L7.337,12.791 C7.196,12.925 7.009,12.999 6.810,12.999 C6.610,12.999 6.423,12.925 6.283,12.791 L0.218,7.001 C0.077,6.867 -0.000,6.688 0.000,6.497 C-0.000,6.305 0.077,6.126 0.218,5.992 Z"/></svg></div>
    </div>
    
    <%# right-sight recent article %> 
    <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
            <%# right article 1 %> 
            <% for (let i = 0; i < latestArticles.length; i++) { %> 
            <div class="swiper-slide">
                <div class="blog_post_slider_wrapper"> 
                    <div class="blog_post_slider_img"> 
                        <img src="/thumbnail/<%= latestArticles[i].thumbnail_img.filename %>" alt="" style="width: 100%; height: 245px;"> 
                    </div> 
                    <div class="blog_post_slider_content"> 
                        <h2><a href="/article?id=<%= latestArticles[i]._id %>"><%- latestArticles[i].title %></a></h2>
                        <div class="blog_author_data">
                            <a href="/author?id=<%= latestArticles[i].authorId._id %>">
                                <img src="/avatar/<%= latestArticles[i].authorId.profile.avatar_img.filename %>" 
                                class="img-fluid" alt="" width="34" height="34"> <%= latestArticles[i].authorId.profile.fullname %>
                            </a>
                        </div> 
                        <ul class="blog_meta_tags">
                            <li><span class="blog_bg_blue">
                                <i class="fa fa-eye mr-2"></i> <%= latestArticles[i].interaction.views %></span>
                            </li> 
                            <li><span class="blog_bg_pink">
                                <i class="fa fa-comment mr-2"></i> <%= latestArticles[i].interaction.comments.length %></span>
                            </li> 
                        </ul>
                    </div> 
                </div>
            </div>
            <% } %> 
        </div>
    </div>
</div>