<p class="card-title-desc mb-4">
  <a href="/articles/add" class="btn btn-success waves-effect waves-light mr-2">
    <i class="mdi mdi-plus-box-multiple-outline mr-1"></i> ADD NEW
  </a>
</p>

<table id="datatable" class="table table-bordered dt-responsive nowrap"
  style="border-collapse: collapse; border-spacing: 0; width: 100%;">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Views</th>
      <th>Comments</th>
      <th>Created date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>


  <tbody>
    <% for (let i = 0; i < articles.length; i++){ %>
    <tr>
      <td>
        <a href="/articles/preview/<%= articles[i]._id %>" target="_blank">
          <%- articles[i].title %>
        </a>
      </td>
      <td>
        <%= articles[i].categoryId.name %>
      </td>
      <td>
        <%= articles[i].interaction.views %>
      </td>
      <td>
        <%= articles[i].interaction.comments.length %>
      </td>
      <td>
        <%= articles[i].createdAt.toLocaleDateString('en-US',{month: '2-digit', day: '2-digit', year: 'numeric'}) %>
      </td>
      <td 
      <% if (articles[i].status === 'Pending') { %> 
        class="bg-warning text-dark"
      <% } else if (articles[i].status === 'Published') { %>
        class="bg-success text-dark"
      <% } else if (articles[i].status === 'Draft') { %>
        class="bg-light text-dark"
      <% } %> 
        ><%= articles[i].status %>
      </td>
      <td class="text-center">
        <div class="btn-group dropdown dropright">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="mdi mdi-settings-transfer-outline"></i>
          </button>

          <div class="dropdown-menu p-2 text-center bg-secondary" aria-labelledby="dropdownMenuButton">
            <a class="btn btn-primary text-light" href="/articles/update/<%= articles[i]._id %>" role="button"
              data-toggle="tooltip" data-placement="top" title="Update" data-original-title="Update">
              <i class="mdi mdi-pencil-outline"></i>
            </a>
            <% if (articles[i].status === 'Published' || articles[i].status === 'Pending') { %> 
            <form action="/articles/unpublish" class="d-inline" method="POST">
              <input type="hidden" name="id" value="<%= articles[i]._id %>">
              <button class="btn btn-info text-light sa-warning-unpublish" type="button" role="button"
                data-toggle="tooltip" data-placement="top" title="Unpublish" data-original-title="Unpublish">
                <i class="mdi mdi-content-save"></i>
              </button>
            </form>
            <% } else { %> 
              <form action="/articles/publish" class="d-inline" method="POST">
                <input type="hidden" name="id" value="<%= articles[i]._id %>">
                <button class="btn btn-success text-light sa-warning-publish" type="button" role="button"
                  data-toggle="tooltip" data-placement="top" title="Publish" data-original-title="Publish">
                  <i class="mdi mdi-publish"></i>
                </button>
              </form>
            <% } %> 
            <form action="/articles/delete" class="d-inline" method="POST">
              <input type="hidden" name="id" value="<%= articles[i]._id %>">
              <button class="btn btn-danger text-light sa-warning-delete" type="button" role="button"
                data-toggle="tooltip" data-placement="top" title="Delete" data-original-title="Delete">
                <i class="mdi mdi-delete-alert"></i>
              </button>
            </form>
          </div>
        </div>
        
      </td>
    </tr>
    <% } %>

  </tbody>
</table>